section.entertainment
	.container
		.entertainment__content
			h2.entertainment__title.section__title Развлечения
			.swiper-container.entertainment__slider
				ul.swiper-wrapper.entertainment__list
					li.entertainment__item.entertainment__item--enter-park.index-page__bg-item.swiper-slide
						.entertainment__inner.index-page__bg-inner
							a.entertainment__button.index-page__bg-button(href="#") Активный отдых
							h3.entertainment__name.index-page__bg-name Вход<br> в парк
						.index-page__more
							span.index-page__cost Стоимость экскурсии
							.index-page__price
								span.index-page__count 500
								span.index-page__person руб./чел.
							a.button.button--transparent.index-page__link(href="#") Подробнее
							button.index-page__buy.button Купить билет
					li.entertainment__item.entertainment__item--boat-trip-lake.index-page__bg-item.swiper-slide
						.entertainment__inner.index-page__bg-inner
							a.entertainment__button.index-page__bg-button(href="#") Активный отдых
							h3.entertainment__name.index-page__bg-name Водная прогулка по мраморному озеру
						.index-page__more
							span.index-page__cost Стоимость экскурсии
							.index-page__price
								span.index-page__count 500
								span.index-page__person руб./чел.
							a.button.button--transparent.index-page__link(href="#") Подробнее
							button.index-page__buy.button Купить билет
					li.entertainment__item.entertainment__item--boat-trip-plot.index-page__bg-item.swiper-slide
						.entertainment__inner.index-page__bg-inner
							a.entertainment__button.index-page__bg-button(href="#") Активный отдых
							h3.entertainment__name.index-page__bg-name Водная прогулка на самоходной платформе
						.index-page__more
							span.index-page__cost Стоимость экскурсии
							.index-page__price
								span.index-page__count 500
								span.index-page__person руб./чел.
							a.button.button--transparent.index-page__link(href="#") Подробнее
							button.index-page__buy.button Купить билет
					li.entertainment__item.entertainment__item--exposition.index-page__bg-item.swiper-slide
						.entertainment__inner.index-page__bg-inner
							a.entertainment__button.index-page__bg-button(href="#") Активный отдых
							h3.entertainment__name.index-page__bg-name Экспозиция «Обитель Ангелов»
						.index-page__more
							span.index-page__cost Стоимость экскурсии
							.index-page__price
								span.index-page__count 500
								span.index-page__person руб./чел.
							a.button.button--transparent.index-page__link(href="#") Подробнее
							button.index-page__buy.button Купить билет
					li.entertainment__item.entertainment__item--trolley.index-page__bg-item.swiper-slide
						.entertainment__inner.index-page__bg-inner
							a.entertainment__button.index-page__bg-button(href="#") Активный отдых
							h3.entertainment__name.index-page__bg-name Троллей <br>(Zip-line)
						.index-page__more
							span.index-page__cost Стоимость экскурсии
							.index-page__price
								span.index-page__count 500
								span.index-page__person руб./чел.
							a.button.button--transparent.index-page__link(href="#") Подробнее
							button.index-page__buy.button Купить билет
					li.entertainment__item.entertainment__item--secret-paths.index-page__bg-item.swiper-slide
						.entertainment__inner.index-page__bg-inner
							a.entertainment__button.index-page__bg-button(href="#") Активный отдых
							h3.entertainment__name.index-page__bg-name Тайные тропы <br>Земли KALEVALA
						.index-page__more
							span.index-page__cost Стоимость экскурсии
							.index-page__price
								span.index-page__count 500
								span.index-page__person руб./чел.
							a.button.button--transparent.index-page__link(href="#") Подробнее
							button.index-page__buy.button Купить билет