section.excursions-index
	.container
		.excursions-index__content
			h2.excursions-index__title.section__title Экскурсии
			.excursions-index__wrapper.swiper-container
				ul.swiper-wrapper.excursions-index__list
					li.excursions-index__item.index-page__bg-item.excursions-index__item--canyon.swiper-slide
						.excursions-index__inner.index-page__bg-inner
							a.excursions-index__button.index-page__bg-button(href="#") Экскурсия
							h3.excursions-index__name.index-page__bg-name Мраморный<br> каньон
						.index-page__more
							span.index-page__cost Стоимость экскурсии
							.index-page__price
								span.index-page__count 550
								span.index-page__person руб./чел.
							a.button.button--transparent.index-page__link(href="#") Подробнее
					li.excursions-index__item.index-page__bg-item.excursions-index__item--mining.swiper-slide
						.excursions-index__inner.index-page__bg-inner
							a.excursions-index__button.index-page__bg-button(href="#") Экскурсия
							h3.excursions-index__name.index-page__bg-name Дорога горных<br> мастеров
						.index-page__more
							span.index-page__cost Стоимость экскурсии
							.index-page__price
								span.index-page__count 520
								span.index-page__person руб./чел.
							a.button.button--transparent.index-page__link(href="#") Подробнее
					li.excursions-index__item.index-page__bg-item.excursions-index__item--under.swiper-slide
						.excursions-index__inner.index-page__bg-inner
							a.excursions-index__button.index-page__bg-button(href="#") Экскурсия
							h3.excursions-index__name.index-page__bg-name Подземная<br> Рускеала
						.index-page__more
							span.index-page__cost Стоимость экскурсии
							.index-page__price
								span.index-page__count 570
								span.index-page__person руб./чел.
							a.button.button--transparent.index-page__link(href="#") Подробнее