section.excursions-index
	.container
		.excursions-index__content
			h2.excursions-index__title.section__title Экскурсии
			.excursions-index__wrapper.swiper-container
				ul.swiper-wrapper.excursions-index__list
					li.excursions-index__item.index-page__bg-item.excursions-index__item--canyon.swiper-slide
						.excursions-index__inner.index-page__bg-inner
							a.excursions-index__button.index-page__bg-button(href="#") Экскурсия
							h3.excursions-index__name.index-page__bg-name Мраморный каньон
						.excursions-index__more
							span.excursions-index__cost Стоимость экскурсии
							.excursions-index__price
								span.excursions-index__count 500
								span.excursions-index__person руб./чел.
							a.button.button--transparent.excursions-index__link(href="#") Подробнее
							button.excursions-index__buy.button Купить билет
					li.excursions-index__item.index-page__bg-item.excursions-index__item--mining.swiper-slide
						.excursions-index__inner.index-page__bg-inner
							a.excursions-index__button.index-page__bg-button(href="#") Экскурсия
							h3.excursions-index__name.index-page__bg-name Дорогой горных мастеров
						.excursions-index__more
							span.excursions-index__cost Стоимость экскурсии
							.excursions-index__price
								span.excursions-index__count 500
								span.excursions-index__person руб./чел.
							a.button.button--transparent.excursions-index__link(href="#") Подробнее
							button.excursions-index__buy.button Купить билет
					li.excursions-index__item.index-page__bg-item.excursions-index__item--under.swiper-slide
						.excursions-index__inner.index-page__bg-inner
							a.excursions-index__button.index-page__bg-button(href="#") Экскурсия
							h3.excursions-index__name.index-page__bg-name Подземная Рускеала
						.excursions-index__more
							span.excursions-index__cost Стоимость экскурсии
							.excursions-index__price
								span.excursions-index__count 500
								span.excursions-index__person руб./чел.
							a.button.button--transparent.excursions-index__link(href="#") Подробнее
							button.excursions-index__buy.button Купить билет