section.food-souvenirs
	.container
		.food-souvenirs__content
			h2.food-souvenirs__title.section__title Питание и сувениры
			span.food-souvenirs__note На территории парка расположено два кафе и лавка сувениров
			.food-souvenirs__slider.swiper-container
				ul.swiper-wrapper.food-souvenirs__list
					li.food-souvenirs__item.swiper-slide
						picture.food-souvenirs__picture
							//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
							source(type="image/webp" srcset="static/images/content/food-suvenir-ruskeala-mobile1x.webp, static/images/content/food-suvenir-ruskeala-mobile2x.webp 2x")
							//source(media="(min-width: 768px)" srcset="static/images/content/index-can-tablet1x.png 1x, static/images/content/index-can-tablet2x.png 2x")
							img.food-souvenirs__img(src="static/images/content/food-suvenir-ruskeala-mobile1x.png" srcset="static/images/content/food-suvenir-ruskeala-mobile2x.png 2x" width="235" height="130" alt="Кафе Русколка" loading="lazy")
						.food-souvenirs__inner
							h3.food-souvenirs__name "Русколка"
							p.food-souvenirs__text Просторное кафе, где можно вкусно пообедать, отдохнуть, и набраться сил после дороги или в перерыве между осмотром достопримечательностей. На выбор гостей блюда европейской и карельской кухни.
							a.button.button--orange-transparent.food-souvenirs__link(href="#") Узнать больше
					li.food-souvenirs__item.swiper-slide
						picture.food-souvenirs__picture
							//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
							source(type="image/webp" srcset="static/images/content/food-suvenir-burger-mobile1x.webp, static/images/content/food-suvenir-burger-mobile2x.webp 2x")
							//source(media="(min-width: 768px)" srcset="static/images/content/index-can-tablet1x.png 1x, static/images/content/index-can-tablet2x.png 2x")
							img.food-souvenirs__img(src="static/images/content/food-suvenir-burger-mobile1x.png" srcset="static/images/content/food-suvenir-burger-mobile2x.png 2x" width="235" height="130" alt="Kolmas Burgers" loading="lazy")
						.food-souvenirs__inner
							h3.food-souvenirs__name Kolmas Burgers
							p.food-souvenirs__text Рецепт вкусного бургера очень прост - свежая булочка, котлета на любой вкус: мясо, курица или рыба, а также, овощная котлета для любителей лёгкого меню, отборные свежие овощи и немного соуса.
							a.button.button--orange-transparent.food-souvenirs__link(href="#") Узнать больше
					li.food-souvenirs__item.swiper-slide
						picture.food-souvenirs__picture
							//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
							source(type="image/webp" srcset="static/images/content/food-suvenir-master-mobile1x.webp, static/images/content/food-suvenir-master-mobile2x.webp 2x")
							//source(media="(min-width: 768px)" srcset="static/images/content/index-can-tablet1x.png 1x, static/images/content/index-can-tablet2x.png 2x")
							img.food-souvenirs__img(src="static/images/content/food-suvenir-master-mobile1x.png" srcset="static/images/content/food-suvenir-master-mobile2x.png 2x" width="235" height="130" alt="Город мастеров" loading="lazy")
						.food-souvenirs__inner
							h3.food-souvenirs__name "Город мастеров"
							p.food-souvenirs__text В магазине можно приобрести замечательные сувениры из местного мрамора, сделанные здесь же, в мастерской, колокольчики и свистульки, поделки из глины, дерева и бересты.
							a.button.button--orange-transparent.food-souvenirs__link(href="#") Узнать больше