section.hero
	.container
		.hero__content
			h1.hero__title Горный Парк Рускеала
			p.hero__note объект историко-культурного наследия Карелии
			.hero__inner
				ul.hero__advantages.hero-advantages
					li.hero-advantages__item
						+icon('icon-forest', 'hero-advantages__icon hero-advantages__icon--forest', '48', '48')
						p.hero-advantages__text Завораживающие природные красоты
					li.hero-advantages__item
						+icon('icon-ecscur', 'hero-advantages__icon hero-advantages__icon--ecscur', '48', '48')
						p.hero-advantages__text Незабываемые экскурсии по горному парку и его подземному миру
					li.hero-advantages__item
						+icon('icon-bike', 'hero-advantages__icon hero-advantages__icon--bike', '48', '48')
						p.hero-advantages__text Все для активного отдыха
					li.hero-advantages__item
						+icon('icon-family', 'hero-advantages__icon hero-advantages__icon--family', '48', '48')
						p.hero-advantages__text Захватывающие развлечения для всей семьи
					li.hero-advantages__item
						+icon('icon-breakfast', 'hero-advantages__icon hero-advantages__icon--breakfast', '48', '48')
						p.hero-advantages__text Уютные кафе с аутентичной карельской кухней и потрясающей выпечкой
					li.hero-advantages__item
						+icon('icon-diamond', 'hero-advantages__icon hero-advantages__icon--diamond', '48', '48')
						p.hero-advantages__text Вручную созданные сувениры из рускеальского мрамора
				.hero__open-park
					h2.hero__subtitle Открытие парка
					p.hero__text Уважаемые гости! В данный момент Горный парк «Рускеала» работает с соблюдением правил Роспотребнадзора. Количество входных билетов в парк не ограничено. Их можно приобрести на сайте, в билетных терминалах и кассах парка. Билеты на экскурсии не бронируются и доступны в кассах и билетных терминалах парка в день визита.
					a(href="#").hero__button.button.button--transparent Подробнее

