section.media-reviews
	.container
		.media-reviews__content
			.media-reviews__images.swiper-container
				.swiper-wrapper
					.media-reviews__image.swiper-slide
						picture.media-reviews__picture
							//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
							//source(type="image/webp" media="(min-width: 768px)" srcset="static/images/content/index-can-tablet1x.webp, static/images/content/index-can-tablet2x.webp 2x")
							//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
							//source(media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.png 1x, static/images/content/index-can-desktop2x.png 2x")
							//source(media="(min-width: 768px)" srcset="static/images/content/index-can-tablet1x.png 1x, static/images/content/index-can-tablet2x.png 2x")
							img.media-reviews__img.reviews__img(src="static/images/content/media-lake-mobile1x.png" srcset="static/images/content/media-lake-mobile2x.png 2x" width="280" height="200" alt="Озеро и горы в парке")
					.media-reviews__image.swiper-slide
						picture.media-reviews__picture
							//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
							//source(type="image/webp" media="(min-width: 768px)" srcset="static/images/content/index-can-tablet1x.webp, static/images/content/index-can-tablet2x.webp 2x")
							//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
							//source(media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.png 1x, static/images/content/index-can-desktop2x.png 2x")
							//source(media="(min-width: 768px)" srcset="static/images/content/index-can-tablet1x.png 1x, static/images/content/index-can-tablet2x.png 2x")
							img.media-reviews__img.reviews__img(src="static/images/content/media-lake-mobile1x.png" srcset="static/images/content/media-lake-mobile2x.png 2x" width="280" height="200" alt="Озеро и горы в парке")
					.media-reviews__image.swiper-slide
						picture.media-reviews__picture
							//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
							//source(type="image/webp" media="(min-width: 768px)" srcset="static/images/content/index-can-tablet1x.webp, static/images/content/index-can-tablet2x.webp 2x")
							//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
							//source(media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.png 1x, static/images/content/index-can-desktop2x.png 2x")
							//source(media="(min-width: 768px)" srcset="static/images/content/index-can-tablet1x.png 1x, static/images/content/index-can-tablet2x.png 2x")
							img.media-reviews__img.reviews__img(src="static/images/content/media-lake-mobile1x.png" srcset="static/images/content/media-lake-mobile2x.png 2x" width="280" height="200" alt="Озеро и горы в парке")
			.media__body
				h2.media-reviews__title.reviews__title.section__title СМИ о парке
				ul.media-reviews__list.swiper-container
					.swiper-wrapper
						li.media-reviews__item.swiper-slide
							.feedback__top
								.feedback__photo
									picture.feedback__picture
										//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
										//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
										//source(media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.png 1x, static/images/content/index-can-desktop2x.png 2x")
										img.feedback__img(src="static/images/content/national-geographic-mobile1x.png" srcset="static/images/content/national-geographic-mobile2x.png 2x" width="80" height="80" alt="national-geographic")
								.feedback__info
									span.feedback__name NATIONAL GEOGRAPHIC
									span.feedback__date 20 ноября 2020 г.
							p.feedback__text.media-reviews__text <b>Маршруты: лучшие пещеры</b><br> ... "По пути к Мраморному карьеру можно любоваться видами. Суровая красота Карелии и незабываемые пейзажи северного побережья Ладоги как бы предваряют и готовят вас к встрече с карьером. Сам Мраморный карьер — голубое небо, отраженное в застывшей воде, — обрамлен 20-метровыми пестрыми мраморными стенами, на вершинах которых приютились деревья." ...
						li.media-reviews__item.swiper-slide
							.feedback__top
								.feedback__photo
									picture.feedback__picture
										//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
										//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
										//source(media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.png 1x, static/images/content/index-can-desktop2x.png 2x")
										img.feedback__img(src="static/images/content/national-geographic-mobile1x.png" srcset="static/images/content/national-geographic-mobile2x.png 2x" width="80" height="80" alt="national-geographic")
								.feedback__info
									span.feedback__name NATIONAL GEOGRAPHIC
									span.feedback__date 20 ноября 2020 г.
							p.feedback__text.media-reviews__text <b>Маршруты: лучшие пещеры</b><br> ... "По пути к Мраморному карьеру можно любоваться видами. Суровая красота Карелии и незабываемые пейзажи северного побережья Ладоги как бы предваряют и готовят вас к встрече с карьером. Сам Мраморный карьер — голубое небо, отраженное в застывшей воде, — обрамлен 20-метровыми пестрыми мраморными стенами, на вершинах которых приютились деревья." ...
						li.media-reviews__item.swiper-slide
							.feedback__top
								.feedback__photo
									picture.feedback__picture
										//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
										//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
										//source(media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.png 1x, static/images/content/index-can-desktop2x.png 2x")
										img.feedback__img(src="static/images/content/national-geographic-mobile1x.png" srcset="static/images/content/national-geographic-mobile2x.png 2x" width="80" height="80" alt="national-geographic")
								.feedback__info
									span.feedback__name NATIONAL GEOGRAPHIC
									span.feedback__date 20 ноября 2020 г.
							p.feedback__text.media-reviews__text <b>Маршруты: лучшие пещеры</b><br> ... "По пути к Мраморному карьеру можно любоваться видами. Суровая красота Карелии и незабываемые пейзажи северного побережья Ладоги как бы предваряют и готовят вас к встрече с карьером. Сам Мраморный карьер — голубое небо, отраженное в застывшей воде, — обрамлен 20-метровыми пестрыми мраморными стенами, на вершинах которых приютились деревья." ... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aut, dicta dignissimos excepturi facere facilis id molestias numquam optio perferendis perspiciatis quasi quia, quibusdam repellendus rerum tenetur ullam ut voluptatem?
				.media-reviews__button.media-reviews__button--prev
					+icon('icon-prev-next', 'feedback__icon feedback__icon--prev', '32', '32')
				.media-reviews__button.media-reviews__button--next
					+icon('icon-prev-next', 'feedback__icon feedback__icon--next', '32', '32')