section.our-partners
	.container
		.our-partners__content
			h2.our-partners__title.section__title Наши партнеры
			ul.our-partners__list.swiper-container
				.swiper-wrapper
					li.our-partners__item.swiper-slide
						picture.our-partners__picture
							//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
							//source(type="image/webp" media="(min-width: 768px)" srcset="static/images/content/index-can-tablet1x.webp, static/images/content/index-can-tablet2x.webp 2x")
							//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
							//source(media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.png 1x, static/images/content/index-can-desktop2x.png 2x")
							//source(media="(min-width: 768px)" srcset="static/images/content/index-can-tablet1x.png 1x, static/images/content/index-can-tablet2x.png 2x")
							img.our-partners__img(src="static/images/content/partners-tripadvisor-mobile1x.png" srcset="static/images/content/partners-tripadvisor-mobile2x.png 2x" width="280" height="172" alt="Tripadvisor")
					li.our-partners__item.swiper-slide
							picture.our-partners__picture
								//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
								//source(type="image/webp" media="(min-width: 768px)" srcset="static/images/content/index-can-tablet1x.webp, static/images/content/index-can-tablet2x.webp 2x")
								//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
								//source(media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.png 1x, static/images/content/index-can-desktop2x.png 2x")
								//source(media="(min-width: 768px)" srcset="static/images/content/index-can-tablet1x.png 1x, static/images/content/index-can-tablet2x.png 2x")
								img.our-partners__img(src="static/images/content/partners-ruskeala-mobile1x.png" srcset="static/images/content/partners-ruskeala-mobile2x.png 2x" width="280" height="172" alt="Рускеала Тур")
					li.our-partners__item.swiper-slide
								picture.our-partners__picture
									//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
									//source(type="image/webp" media="(min-width: 768px)" srcset="static/images/content/index-can-tablet1x.webp, static/images/content/index-can-tablet2x.webp 2x")
									//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
									//source(media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.png 1x, static/images/content/index-can-desktop2x.png 2x")
									//source(media="(min-width: 768px)" srcset="static/images/content/index-can-tablet1x.png 1x, static/images/content/index-can-tablet2x.png 2x")
									img.our-partners__img(src="static/images/content/partners-kolmas-mobile1x.png" srcset="static/images/content/partners-kolmas-mobile2x.png 2x" width="280" height="172" alt="Колмас Кореллия")
					li.our-partners__item.swiper-slide
									picture.our-partners__picture
										//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
										//source(type="image/webp" media="(min-width: 768px)" srcset="static/images/content/index-can-tablet1x.webp, static/images/content/index-can-tablet2x.webp 2x")
										//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
										//source(media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.png 1x, static/images/content/index-can-desktop2x.png 2x")
										//source(media="(min-width: 768px)" srcset="static/images/content/index-can-tablet1x.png 1x, static/images/content/index-can-tablet2x.png 2x")
										img.our-partners__img(src="static/images/content/partners-ladoga-mobile1x.png" srcset="static/images/content/partners-ladoga-mobile2x.png 2x" width="280" height="172" alt="Ладога Тур")
			.our-partners__pagination