section.reviews
	.container
		.reviews__content
			.reviews__box-images
				.reviews__images.swiper-container
					.swiper-wrapper
						.reviews__image.swiper-slide
							picture.reviews__picture
								source(type="image/webp" media="(min-width: 1280px)" srcset="static/images/content/train-ruskeala-desktop1x.webp, static/images/content/train-ruskeala-desktop2x.webp 2x")
								source(type="image/webp" srcset="static/images/content/train-ruskeala-mobile1x.webp, static/images/content/train-ruskeala-mobile2x.webp 2x")
								source(media="(min-width: 1280px)" srcset="static/images/content/train-ruskeala-desktop1x.png 1x, static/images/content/train-ruskeala-desktop2x.png 2x")
								img.reviews__img(src="static/images/content/train-ruskeala-mobile1x.png" srcset="static/images/content/train-ruskeala-mobile2x.png 2x" width="280" height="200" alt="Рускеальский экспресс" loading="lazy")
						.reviews__image.swiper-slide
							picture.reviews__picture
								source(type="image/webp" media="(min-width: 1280px)" srcset="static/images/content/train-ruskeala-desktop1x.webp, static/images/content/train-ruskeala-desktop2x.webp 2x")
								source(type="image/webp" srcset="static/images/content/train-ruskeala-mobile1x.webp, static/images/content/train-ruskeala-mobile2x.webp 2x")
								source(media="(min-width: 1280px)" srcset="static/images/content/train-ruskeala-desktop1x.png 1x, static/images/content/train-ruskeala-desktop2x.png 2x")
								img.reviews__img(src="static/images/content/train-ruskeala-mobile1x.png" srcset="static/images/content/train-ruskeala-mobile2x.png 2x" width="280" height="200" alt="Рускеальский экспресс" loading="lazy")
						.reviews__image.swiper-slide
							picture.reviews__picture
								source(type="image/webp" media="(min-width: 1280px)" srcset="static/images/content/train-ruskeala-desktop1x.webp, static/images/content/train-ruskeala-desktop2x.webp 2x")
								source(type="image/webp" srcset="static/images/content/train-ruskeala-mobile1x.webp, static/images/content/train-ruskeala-mobile2x.webp 2x")
								source(media="(min-width: 1280px)" srcset="static/images/content/train-ruskeala-desktop1x.png 1x, static/images/content/train-ruskeala-desktop2x.png 2x")
								img.reviews__img(src="static/images/content/train-ruskeala-mobile1x.png" srcset="static/images/content/train-ruskeala-mobile2x.png 2x" width="280" height="200" alt="Рускеальский экспресс" loading="lazy")
			.reviews__body
				h2.reviews__title.section__title Отзывы посетителей
				ul.reviews__list.feedback.swiper-container
					.swiper-wrapper
						li.feedback__item.swiper-slide
							.feedback__top
								.feedback__photo
									picture.feedback__picture
										source(type="image/webp" srcset="static/images/content/reviews-photo1-mobile1x.webp, static/images/content/reviews-photo1-mobile2x.webp 2x")
										img.feedback__img(src="static/images/content/reviews-photo1-mobile1x.png" srcset="static/images/content/reviews-photo1-mobile2x.png 2x" width="80" height="80" alt="Посетитель Анна" loading="lazy")
								.feedback__info
									span.feedback__name Анна
									span.feedback__date 20 августа 2020 г.
							p.feedback__text Побывала здесь в понедельник - парковка была заставлена полностью. В самом парке - как на Невском. Все кафе битком. Слишком много развлечений, которые отвлекают: тарзанок, катамаранов, которые разумеется оплаиваются отдельно. Но портят вид (по озеру шныряют лодки с оранжевыми жилетами и портят вид) и визги тарзаночников - тоже не очень кореллируют с природой. <br>Из плюсов: там все-таки красиво.
							p.feedback__note Отзывы публикуются "как есть", без редактирования или исправления ошибок.
						li.feedback__item.swiper-slide
							.feedback__top
								.feedback__photo
									picture.feedback__picture
										source(type="image/webp" srcset="static/images/content/reviews-photo1-mobile1x.webp, static/images/content/reviews-photo1-mobile2x.webp 2x")
										img.feedback__img(src="static/images/content/reviews-photo1-mobile1x.png" srcset="static/images/content/reviews-photo1-mobile2x.png 2x" width="80" height="80" alt="Посетитель Анна" loading="lazy")
								.feedback__info
									span.feedback__name Анна
									span.feedback__date 20 августа 2020 г.
							p.feedback__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus accusantium aliquid asperiores consequuntur et explicabo, harum illo in inventore, itaque laboriosam mollitia nulla porro possimus quam suscipit veniam voluptas.
							p.feedback__note Отзывы публикуются "как есть", без редактирования или исправления ошибок.
						li.feedback__item.swiper-slide
							.feedback__top
								.feedback__photo
									picture.feedback__picture
										source(type="image/webp" srcset="static/images/content/reviews-photo1-mobile1x.webp, static/images/content/reviews-photo1-mobile2x.webp 2x")
										img.feedback__img(src="static/images/content/reviews-photo1-mobile1x.png" srcset="static/images/content/reviews-photo1-mobile2x.png 2x" width="80" height="80" alt="Посетитель Анна" loading="lazy")
								.feedback__info
									span.feedback__name Анна
									span.feedback__date 20 августа 2020 г.
							p.feedback__text Побывала здесь в понедельник - парковка была заставлена полностью. В самом парке - как на Невском. Все кафе битком. Слишком много развлечений, которые отвлекают: тарзанок, катамаранов, которые разумеется оплаиваются отдельно. Но портят вид (по озеру шныряют лодки с оранжевыми жилетами и портят вид) и визги тарзаночников - тоже не очень кореллируют с природой. <br>Из плюсов: там все-таки красиво.
							p.feedback__note Отзывы публикуются "как есть", без редактирования или исправления ошибок.
				.slider__button.slider__button--prev.feedback__button.feedback__button--prev
					+icon('icon-prev-next', 'feedback__icon feedback__icon--prev', '32', '32')
				.slider__button.slider__button--next.feedback__button.feedback__button--next
					+icon('icon-prev-next', 'feedback__icon feedback__icon--next', '32', '32')