.social-nav {
  display: flex;
  @media screen and (min-width: $desktop-size) {
    flex-direction: column;
  }
  &__link {
    background-color: $grey-color;
    border-radius: 50%;
    display: block;
    height: 40px;
    position: relative;
    transition: all ease-out .15s;
    width: 40px;
    &:hover {
      background-color: $orange-dark-color;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-right: 10px;
      @media screen and (min-width: $desktop-size) {
        margin: 0 0 10px 0;
      }
    }
  }
  &__icon {
    fill: white;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}