.open-time__content.schedule
    .schedule__item._active
        .schedule__wrapper
            .schedule__top
                .schedule__top-name
                    span Территория парка
                .schedule__top-date
                    span.schedule__top-day Ежедневно
                    span.schedule__top-time 10:00 - 19:00
            .schedule__row
                .schedule__icons
                    img.schedule__icon-img(src="static/images/common/schedule/ticket.png" alt="Касса" width="24" height="24")
                .schedule__inner
                    .schedule__name
                        span Кассы
                    .schedule__date
                        span.schedule__day Ежедневно
                        span.schedule__time 10:00 - 19:00
            .schedule__row
                .schedule__icons
                    img.schedule__icon-img(src="static/images/common/schedule/light-red.png" alt="Художественная подсветка" width="24" height="24")
                .schedule__inner
                    .schedule__name
                        span Художественная подсветка
                    .schedule__date
                        span.schedule__day Ежедневно с наступлением темноты
                        span.schedule__time до 19:00
            .schedule__row
                .schedule__icons
                    img.schedule__icon-img(src="static/images/common/schedule/tourist-light-green.png" alt="Иконка туриста" width="24" height="24")
                .schedule__inner
                    .schedule__name
                        span Экскурсия «Мраморный каньон»
                    .schedule__date
                        span.schedule__day Ежедневно
                        span.schedule__time 10:30 - 17:30
            .schedule__row
                .schedule__icons
                    img.schedule__icon-img(src="static/images/common/schedule/tourist-dark-green.png" alt="Иконка туриста" width="24" height="24")
                .schedule__inner
                    .schedule__name
                        span Экскурсия «Дорогой горных мастеров»
                    .schedule__date
                        span.schedule__day Ежедневно
                        span.schedule__time 10:30 - 17:00
            .schedule__row
                .schedule__icons
                    img.schedule__icon-img(src="static/images/common/schedule/tourist-light-purple.png" alt="Иконка туриста" width="24" height="24")
                .schedule__inner
                    .schedule__name
                        span Экскурсия «Подземная Рускеала»
                    .schedule__date
                        span.schedule__day Ежедневно
                        span.schedule__time 10:30 - 17:00
            .schedule__row
                .schedule__icons
                    img.schedule__icon-img(src="static/images/common/schedule/zip-orange.png" alt="Иконка туриста" width="24" height="24")
                .schedule__inner
                    .schedule__name
                        span Троллей (Zip-line)
                    .schedule__date
                        .schedule__days
                            span.schedule__day Пт, чт-вс:
                            span.schedule__day Вт, ср:
                        .schedule__times
                            span.schedule__time 11:00 - 18:00
                            span.schedule__time Выходной
            .schedule__row
                .schedule__icons
                    img.schedule__icon-img(src="static/images/common/schedule/snow-car-red.png" alt="Иконка снегохода" width="24" height="24")
                .schedule__inner
                    .schedule__name
                        span Снегоходы
                    .schedule__date
                        span.schedule__day Ежедневно
                        span.schedule__time 10:00 - 18:00
            .schedule__row
                .schedule__icons
                    img.schedule__icon-img(src="static/images/common/schedule/ruskolka.png" alt="Иконка кафе русколка" width="24" height="24")
                .schedule__inner
                    .schedule__name
                        span Кафе «Русколка»
                    .schedule__date
                        span.schedule__day Ежедневно
                        span.schedule__time 10:00 - 18:00
            .schedule__row
                .schedule__icons
                    img.schedule__icon-img(src="static/images/common/schedule/burger.png" alt="Иконка кафе Бургерной" width="24" height="24")
                .schedule__inner
                    .schedule__name
                        span Кафе «Колмас Бургерс»
                    .schedule__date
                        span.schedule__day Ежедневно
                        span.schedule__time 10:00 - 18:30
            .schedule__row
                .schedule__icons
                    img.schedule__icon-img(src="static/images/common/schedule/leto.png" alt="Иконка кафе Лето" width="24" height="24")
                .schedule__inner
                    .schedule__name
                        span Кафе-пекарня «Лето»
                    .schedule__date
                        span.schedule__day Ежедневно
                        span.schedule__time 10:00 - 19:00
            .schedule__row
                .schedule__icons
                    img.schedule__icon-img(src="static/images/common/schedule/kalevala.png" alt="Тематическая зона KALEVALA" width="24" height="24")
                .schedule__inner
                    .schedule__name
                        span Тематическая зона KALEVALA
                    .schedule__date
                        span.schedule__day Ежедневно
                        span.schedule__time 10:00 - 19:00
            .schedule__row
                .schedule__icons
                    img.schedule__icon-img(src="static/images/common/schedule/angel.png" alt="Обитель Ангелов" width="24" height="24")
                .schedule__inner
                    .schedule__name
                        span Экспозиция «Обитель Ангелов»
                    .schedule__date
                        span.schedule__day Ежедневно
                        span.schedule__time 11:00 - 17:00
            .schedule__row
                .schedule__icons
                    img.schedule__icon-img(src="static/images/common/schedule/wc.png" alt="Туалеты" width="24" height="24")
                .schedule__inner
                    .schedule__name
                        span Уличные туалеты
                    .schedule__date
                        span.schedule__day Ежедневно
                        span.schedule__time 10:00 - 19:00
    .schedule__item
        .schedule__wrapper
            .schedule__top
                .schedule__top-name
                    span Территория парка
                .schedule__top-date
                    span.schedule__top-day Ежедневно
                    span.schedule__top-time 10:00 - 19:00
            .schedule__row
                .schedule__icons
                    img.schedule__icon-img(src="static/images/common/schedule/ticket.png" alt="Касса" width="24" height="24")
                .schedule__inner
                    .schedule__name
                        span Кассы
                    .schedule__date
                        span.schedule__day Ежедневно
                        span.schedule__time 10:00 - 19:00
            .schedule__row
                .schedule__icons
                    img.schedule__icon-img(src="static/images/common/schedule/light-red.png" alt="Художественная подсветка" width="24" height="24")
                .schedule__inner
                    .schedule__name
                        span Художественная подсветка
                    .schedule__date
                        span.schedule__day Ежедневно с наступлением темноты
                        span.schedule__time до 19:00
            .schedule__row
                .schedule__icons
                    img.schedule__icon-img(src="static/images/common/schedule/tourist-light-green.png" alt="Иконка туриста" width="24" height="24")
                .schedule__inner
                    .schedule__name
                        span Экскурсия «Мраморный каньон»
                    .schedule__date
                        span.schedule__day Ежедневно
                        span.schedule__time 10:30 - 17:30
            .schedule__row
                .schedule__icons
                    img.schedule__icon-img(src="static/images/common/schedule/zip-orange.png" alt="Иконка туриста" width="24" height="24")
                .schedule__inner
                    .schedule__name
                        span Троллей (Zip-line)
                    .schedule__date
                        .schedule__days
                            span.schedule__day Пт, чт-вс:
                            span.schedule__day Вт, ср:
                        .schedule__times
                            span.schedule__time 11:00 - 18:00
                            span.schedule__time Выходной
    .schedule__item
        .schedule__wrapper
            .schedule__top
                .schedule__top-name
                    span Территория парка
                .schedule__top-date
                    span.schedule__top-day Ежедневно
                    span.schedule__top-time 10:00 - 19:00
            .schedule__row
                .schedule__icons
                    img.schedule__icon-img(src="static/images/common/schedule/ticket.png" alt="Касса" width="24" height="24")
                .schedule__inner
                    .schedule__name
                        span Кассы
                    .schedule__date
                        span.schedule__day Ежедневно
                        span.schedule__time 10:00 - 19:00
            .schedule__row
                .schedule__icons
                    img.schedule__icon-img(src="static/images/common/schedule/tourist-light-green.png" alt="Иконка туриста" width="24" height="24")
                .schedule__inner
                    .schedule__name
                        span Экскурсия «Мраморный каньон»
                    .schedule__date
                        span.schedule__day Ежедневно
                        span.schedule__time 10:30 - 17:30
            .schedule__row
                .schedule__icons
                    img.schedule__icon-img(src="static/images/common/schedule/zip-orange.png" alt="Иконка туриста" width="24" height="24")
                .schedule__inner
                    .schedule__name
                        span Троллей (Zip-line)
                    .schedule__date
                        .schedule__days
                            span.schedule__day Пт, чт-вс:
                            span.schedule__day Вт, ср:
                        .schedule__times
                            span.schedule__time 11:00 - 18:00
                            span.schedule__time Выходной
    .schedule__item
        .schedule__wrapper
            .schedule__top
                .schedule__top-name
                    span Территория парка
                .schedule__top-date
                    span.schedule__top-day Ежедневно
                    span.schedule__top-time 10:00 - 19:00
            .schedule__row
                .schedule__icons
                    img.schedule__icon-img(src="static/images/common/schedule/ticket.png" alt="Касса" width="24" height="24")
                .schedule__inner
                    .schedule__name
                        span Кассы
                    .schedule__date
                        span.schedule__day Ежедневно
                        span.schedule__time 10:00 - 19:00
            .schedule__row
                .schedule__icons
                    img.schedule__icon-img(src="static/images/common/schedule/zip-orange.png" alt="Иконка туриста" width="24" height="24")
                .schedule__inner
                    .schedule__name
                        span Троллей (Zip-line)
                    .schedule__date
                        .schedule__days
                            span.schedule__day Пт, чт-вс:
                            span.schedule__day Вт, ср:
                        .schedule__times
                            span.schedule__time 11:00 - 18:00
                            span.schedule__time Выходной

