.hotel-park {
  @media screen and (min-width: $desktop-size) {
    margin-bottom: 100px;
  }
  &__hero {
    @media screen and (min-width: $desktop-size) {
      display: flex;
      height: 800px;
      padding-bottom: 165px;
      position: relative;
    }
  }
  &__inner {
    background-color: $brown-color;
    color: $white;
    padding: 20px 0 30px;
    position: relative;
    @media screen and (min-width: $desktop-size) {
      background-color: transparent;
      margin-top: auto;
      padding: 0;
      width: 100%;
      z-index: 2;
    }
    .container {
      @media screen and (min-width: $desktop-size) {
        position: relative;
      }
    }
  }
  &__box {
    @media screen and (min-width: $desktop-size) {
      width: 42.3%;
    }
  }
  &__sub-title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
    @media screen and (min-width: $desktop-size) {
      font-size: 30px;
      line-height: 37px;
      margin-bottom: 0;
    }
  }
  &__title {
    font-size: 22px;
    font-weight: 800;
    line-height: 27px;
    margin-bottom: 20px;
    @media screen and (min-width: $desktop-size) {
      font-size: 40px;
      line-height: 49px;
      margin-bottom: 30px;
    }
  }
  &__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 20px;
    @media screen and (min-width: $desktop-size) {
      font-size: 16px;
      line-height: 27px;
      margin-bottom: 30px;
    }
  }
  &__reserv {
    font-size: 16px;
    line-height: 26px;
    padding: 18px 61px 18px 24px;
    position: relative;
    text-decoration: none;
    width: 100%;
    @media screen and (min-width: $desktop-size) {
      padding: 18px 72px 18px 30px;
      width: auto;
    }
  }
  &__icon--arrow {
    fill: $white;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
  }
  &__slider-buttons {
    left: 20px;
    position: absolute;
    top: -44px;
    z-index: 2;
    @media screen and (min-width: $desktop-size) {
      bottom: 0;
      left: auto;
      right: 0;
      top: auto;
    }
  }
  &__slider-button {
    height: 24px;
    width: 24px;
    @media screen and (min-width: $desktop-size) {
      height: 48px;
      width: 48px;
    }
    &--next {
      margin-left: 10px;
      @media screen and (min-width: $desktop-size) {
        margin-left: 30px;
      }
    }
    svg {
      fill: $white;
      height: 24px;
      width: 24px;
      @media screen and (min-width: $desktop-size) {
        height: 48px;
        width: 48px;
      }
    }
  }
}

.hotel-images {
  @media screen and (min-width: $desktop-size) {
    height: 100%;
    position: absolute;
    width: 100%;
  }
  &__wrap {
    bottom: 65px;
    color: $white;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    left: 20px;
    position: absolute;
    z-index: 2;
    @media screen and (min-width: $desktop-size) {
      font-size: 80px;
      font-weight: 800;
      line-height: 98px;
      left: 50%;
      max-width: 1420px;
      top: 92px;
      transform: translateX(-50%);
      text-align: right;
      width: 74%;
    }
  }
  &__img {
    object-fit: cover;
    width: 100%;
    @media screen and (min-width: $desktop-size) {
      height: 100%;
    }
  }
  &__item {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4) linear-gradient(90deg, #2C0E00 0%, rgba(44, 14, 0, 0.5) 41.93%, rgba(44, 14, 0, 0) 68.18%);
    }
  }
}

.rooms-hotel {
  color: $white;
  @media screen and (min-width: $desktop-size) {
    display: flex;
    margin: 0 auto;
    max-width: 1920px;
    width: 100%;
  }
  &__item {
    background-size: cover;
    display: flex;
    height: 360px;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px 20px;
    position: relative;
    @media screen and (min-width: $desktop-size) {
      flex-basis: 33.333%;
      height: 800px;
      padding: 100px 100px 100px 100px;
    }
    &::after {
      background: rgba(96, 32, 0, 1) linear-gradient(90deg, #3C1400 0%, rgba(46, 15, 0, 0.5) 29.71%, rgba(44, 14, 0, 0) 59.69%);
      content: "";
      height: 100%;
      left: 0;
      opacity: 0.5;
      position: absolute;
      top: 0;
      width: 100%;
    }
    &--standart {
      background: url("../images/content/hotel/rooms-standart-1-mobile@1x.png") no-repeat center;
      background-size: cover;
      @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        background-image: url("../images/content/hotel/rooms-standart-1-mobile@2x.png");
        background-size: cover;
      }
      @media screen and (min-width: $desktop-size) {
        background: url("../images/content/hotel/rooms-standart-1-desktop@1x.png") no-repeat center;
        background-size: cover;
        @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
          background-image: url("../images/content/hotel/rooms-standart-1-desktop@2x.png");
          background-size: cover;
        }
      }
    }
    &--vip {
      background: url("../images/content/hotel/rooms-vip-1-mobile@1x.png") no-repeat center;
      background-size: cover;
      @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        background-image: url("../images/content/hotel/rooms-vip-1-mobile@2x.png");
        background-size: cover;
      }
      @media screen and (min-width: $desktop-size) {
        background: url("../images/content/hotel/rooms-vip-1-desktop@1x.png") no-repeat center;
        background-size: cover;
        order: 2;
        @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
          background-image: url("../images/content/hotel/rooms-vip-1-desktop@2x.png");
          background-size: cover;
        }
      }
    }
    &--separated {
      background: url("../images/content/hotel/rooms-separated-1-mobile@1x.png") no-repeat center;
      background-size: cover;
      @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        background-image: url("../images/content/hotel/rooms-separated-1-mobile@2x.png");
        background-size: cover;
      }
      @media screen and (min-width: $desktop-size) {
        background: url("../images/content/hotel/rooms-separated-1-desktop@1x.png") no-repeat center;
      background-size: cover;
      @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        background-image: url("../images/content/hotel/rooms-separated-1-desktop@2x.png");
        background-size: cover;
      }
      }
    }
  }
  &__inner {
    position: relative;
    z-index: 2;
  }
  &__name {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 10px;
    @media screen and (min-width: $desktop-size) {
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 20px;
    }
  }
  &__count {
    @media screen and (min-width: $desktop-size) {
      font-size: 40px;
      line-height: 49px;
    }
  }
  &__person {
    @media screen and (min-width: $desktop-size) {
      font-size: 18px;
      line-height: 22px;
    }
  }
  &__button {
    align-self: flex-start;
    border-width: 1px;
    font-size: 16px;
    line-height: 26px;
    padding: 15px 38px;
    width: auto;
  }
}

.hotel-page .map {
  @media screen and (min-width: $desktop-size) {
    margin-bottom: 0;
  }
}