li.social-nav__item
	a.social-nav__link.social-nav__link--map(href="#" aria-lable="Ссылка на наше местоположение")
		+icon('icon-map-marker', 'social-nav__icon social-nav__icon--map', '12', '16')
li.social-nav__item
	a.social-nav__link.social-nav__link--vk(href="#" aria-lable="Ссылка на наше местоположение")
		+icon('icon-vk', 'social-nav__icon social-nav__icon--vk', '25', '25')
li.social-nav__item
	a.social-nav__link.social-nav__link--fb(href="#" aria-lable="Ссылка на наше местоположение")
		+icon('icon-fb', 'social-nav__icon social-nav__icon--fb', '20', '20')
li.social-nav__item
	a.social-nav__link.social-nav__link--inst(href="#" aria-lable="Ссылка на наше местоположение")
		+icon('icon-inst', 'social-nav__icon social-nav__icon--inst', '20', '20')
li.social-nav__item
	a.social-nav__link.social-nav__link--tripadvisor(href="#" aria-lable="Ссылка на наше местоположение")
		+icon('icon-tripadvisor', 'social-nav__icon social-nav__icon--tripadvisor', '25', '18')