li.menu-nav__item
	a.menu-nav__link.js-menu-link Услуги
		+icon('icon-menu-arrow', 'menu-nav__icon menu-nav__icon--arrow', '10', '7.5')
	ul.menu-sub-nav.menu-sub-nav--excursions
		li.menu-sub-nav__column.menu-sub-nav__column--excursions
			ul
				li.menu-sub-nav__item
					span.menu-sub-nav__title.menu-sub-nav__title--white Экскурсии
				li.menu-sub-nav__item
					a.menu-sub-nav__link.menu-sub-nav__link--white(href="#") «Мраморный каньон»
				li.menu-sub-nav__item
					a.menu-sub-nav__link.menu-sub-nav__link--white(href="#") «Подземная Рускеала»
				li.menu-sub-nav__item
					a.menu-sub-nav__link.menu-sub-nav__link--white(href="#") «Мраморный каньон»
				li.menu-sub-nav__item
					button.menu-sub-nav__button.button.button--orange-transparent Купить билет
		li.menu-sub-nav__column
			ul
				li.menu-sub-nav__item
					span.menu-sub-nav__title.menu-sub-nav__title--black Активный отдых
				li.menu-sub-nav__item
					a.menu-sub-nav__link(href="#") Вход в парк
				li.menu-sub-nav__item
					a.menu-sub-nav__link(href="#") Водная прогулка по мраморному озеру
				li.menu-sub-nav__item
					a.menu-sub-nav__link(href="#") Водная прогулка на самоходной платформе
				li.menu-sub-nav__item
					a.menu-sub-nav__link(href="#") Экспозиция «Обитель Ангелов»
				li.menu-sub-nav__item
					a.menu-sub-nav__link(href="#") Троллей (Zip-line)
				li.menu-sub-nav__item
					a.menu-sub-nav__link(href="#") Снегоходы / Квадроциклы
				li.menu-sub-nav__item
					a.menu-sub-nav__link(href="#") Тайные тропы Земли KALEVALA
				li.menu-sub-nav__item
					a.menu-sub-nav__link(href="#") Дайвинг
				li.menu-sub-nav__item
					a.menu-sub-nav__link(href="#") Тарзанка (прыжок с верёвкой)
				li.menu-sub-nav__item
					a.menu-sub-nav__link(href="#") Верёвочный парк «Кубик»
li.menu-nav__item
	a.menu-nav__link(href="#") О парке
li.menu-nav__item
	a.menu-nav__link(href="#") Афиша
li.menu-nav__item
	a.menu-nav__link.js-menu-link Посетителям
		+icon('icon-menu-arrow', 'menu-nav__icon menu-nav__icon--arrow', '10', '7.5')
	ul.menu-sub-nav.menu-sub-nav--guest
		li.menu-sub-nav__item
			a.menu-sub-nav__link(href="#") Как добраться
		li.menu-sub-nav__item
			a.menu-sub-nav__link(href="#") Часы работы
		li.menu-sub-nav__item
			a.menu-sub-nav__link(href="#") Виртуальный тур
		li.menu-sub-nav__item
			a.menu-sub-nav__link(href="#") Кафе и магазины
		li.menu-sub-nav__item
			a.menu-sub-nav__link(href="#") Правила парка
		li.menu-sub-nav__item
			a.menu-sub-nav__link(href="#") Контакты
		li.menu-sub-nav__item
			a.menu-sub-nav__link(href="#") Туры
		li.menu-sub-nav__item
			a.menu-sub-nav__link(href="#") Гостиница
li.menu-nav__item
	a.menu-nav__link(href="#") Партнёрам
li.menu-nav__item
	a.menu-nav__link(href="#") Оставить отзыв
li.menu-nav__item
	a.menu-nav__link(href="#") Блог