li.menu-nav__item
	a.menu-nav__link.js-menu-link Услуги
		+icon('icon-menu-arrow', 'menu-nav__icon menu-nav__icon--arrow', '10', '7.5')
	ul.menu-sub-nav.menu-sub-nav--excursions
		li.menu-sub-nav__column.menu-sub-nav__column--excursions
			ul
				li.menu-sub-nav__item
					span.menu-sub-nav__title.menu-sub-nav__title--white Экскурсии
				li.menu-sub-nav__item
					a.menu-sub-nav__link.menu-sub-nav__link--white(href="excursions.html#excursions--canyon") «Мраморный каньон»
				li.menu-sub-nav__item
					a.menu-sub-nav__link.menu-sub-nav__link--white(href="excursions.html#excursions--master") «Дорогой горных мастеров»
				li.menu-sub-nav__item
					a.menu-sub-nav__link.menu-sub-nav__link--white(href="excursions.html#excursions--under-ruskeala") «Подземная Рускеала»
				li.menu-sub-nav__item
					button.menu-sub-nav__button.button.button--orange-transparent.js-buyticket-open Купить билет
		li.menu-sub-nav__column
			ul
				li.menu-sub-nav__item
					span.menu-sub-nav__title.menu-sub-nav__title--black Активный отдых
				li.menu-sub-nav__item
					a.menu-sub-nav__link(href="#") Вход в парк
				li.menu-sub-nav__item
					a.menu-sub-nav__link(href="entertainment.html#entertainment--boat-trip") Водная прогулка по мраморному озеру
				li.menu-sub-nav__item
					a.menu-sub-nav__link(href="#") Водная прогулка на самоходной платформе
				li.menu-sub-nav__item
					a.menu-sub-nav__link(href="#") Экспозиция «Обитель Ангелов»
				li.menu-sub-nav__item
					a.menu-sub-nav__link(href="entertainment.html#entertainment--zip-line") Троллей (Zip-line)
				li.menu-sub-nav__item
					a.menu-sub-nav__link(href="entertainment.html#entertainment--skating") Снегоходы / Квадроциклы
				li.menu-sub-nav__item
					a.menu-sub-nav__link(href="entertainment.html#entertainment--kalevala") Тайные тропы Земли KALEVALA
				li.menu-sub-nav__item
					a.menu-sub-nav__link(href="entertainment.html#entertainment--diving") Дайвинг
				li.menu-sub-nav__item
					a.menu-sub-nav__link(href="entertainment.html#entertainment--tarzan") Тарзанка (прыжок с верёвкой)
				li.menu-sub-nav__item
					a.menu-sub-nav__link(href="#") Верёвочный парк «Кубик»
li.menu-nav__item
	a.menu-nav__link(href= pageClass === "about-page" ? false : "about.html") О парке
li.menu-nav__item
	a.menu-nav__link(href= pageClass === "news-page" ? false : "news.html") Афиша
li.menu-nav__item
	a.menu-nav__link.js-menu-link Посетителям
		+icon('icon-menu-arrow', 'menu-nav__icon menu-nav__icon--arrow', '10', '7.5')
	ul.menu-sub-nav.menu-sub-nav--guest
		li.menu-sub-nav__item
			a.menu-sub-nav__link(href="#") Как добраться
		li.menu-sub-nav__item
			a.menu-sub-nav__link(href="#") Часы работы
		li.menu-sub-nav__item
			a.menu-sub-nav__link(href="#") Виртуальный тур
		li.menu-sub-nav__item
			a.menu-sub-nav__link(href= pageClass === "eat-page" ? false : "where-to-eat.html") Кафе и магазины
		li.menu-sub-nav__item
			a.menu-sub-nav__link(href="#") Правила парка
		li.menu-sub-nav__item
			a.menu-sub-nav__link(href="#") Контакты
		li.menu-sub-nav__item
			a.menu-sub-nav__link(href= pageClass === "tours-page" ? false : "tours.html") Туры
		li.menu-sub-nav__item
			a.menu-sub-nav__link(href= pageClass === "hotel-page" ? false : "hotel.html") Гостиница
li.menu-nav__item
	a.menu-nav__link(href= pageClass === "parners-page" ? false : "partners.html") Партнёрам
li.menu-nav__item
	a.menu-nav__link(href="#") Оставить отзыв
li.menu-nav__item
	a.menu-nav__link(href="#") Блог