header.header
    .header__top
        a.header__logo-link(href=pageClass === "index-page" ? false : "index.html" data-red="blue")
            //- +icon('logo-mobile', 'header-logo', '91', '30')
            picture
                source(media="(min-width: 1280px)" srcset="static/images/common/logo-ruskeala.svg")
                img.header__logo(src="./static/images/common/logo-mobile.svg" alt="Логотип" width="91" height="30" loading="lazy")
    //ul.nav__social.social-nav
    //    include ./../navigation/main-nav/nav-social
    .header__wrapper
        .header__main-nav
            include ./../navigation/sandwich/sandwich
            include ./../navigation/main-nav/navigation
        .header__sub-nav
            include ./../navigation/sub-nav/sub-navigation.pug
