.map {
  margin-bottom: 60px;
  @media screen and (min-width: $desktop-size) {
    margin-bottom: 140px;
  }
  &__frame {
    background-color: $bg-grey-color;
    height: 587px;
    margin: 0 auto;
    max-width: $content;
    width: 100%;
    @media screen and (min-width: $desktop-size) {
      width: 74%;
    }
  }
  &__inner {
    @media screen and (min-width: $desktop-size) {
      position: relative;
      top: -586px;
    }
  }
  &__content {
    background-color: $white;
    box-shadow: 0 0 50px rgba(48, 51, 129, 0.15);
    margin-top: -260px;
    position: relative;
    padding: 20px;
    pointer-events: all;
    z-index: 4;
    @media screen and (min-width: $desktop-size) {
      left: 100px;
      margin: 0;
      position: absolute;
      top: 100px;
      width: 33.2%;
    }
    @media screen and (min-width: $large-size) {
      padding: 40px;
    }
  }
  &__title {
    color: rgba($black, 0.8);
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 20px;
    @media screen and (min-width: $desktop-size) {
      font-size: 33px;
      line-height: 40px;
      margin-bottom: 30px;
    }
    @media screen and (min-width: $large-size) {
      font-size: 40px;
      line-height: 49px;
    }
  }
  &__location {
    display: flex;
    margin-bottom: 20px;
    @media screen and (min-width: $desktop-size) {
      margin-bottom: 30px;
    }
  }
  &__icon {
    fill: $icon-light-grey-color;
    flex-shrink: 0;
    margin-right: 10px;
    @media screen and (min-width: $desktop-size) {
      height: 32px;
      margin-right: 20px;
      width: 32px;
    }
  }
  &__address {
    font-size: 13px;
    line-height: 22px;
    @media screen and (min-width: $desktop-size) {
      font-size: 15px;
      line-height: 24px;
    }
  }
  &__text {
    font-size: 13px;
    line-height: 23px;
    margin-bottom: 20px;
    @media screen and (min-width: $desktop-size) {
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
}

.excursions-page .map,
.entertainment-page .map {
  @media screen and (min-width: $desktop-size) {
    margin-bottom: 0;
  }
}

.entertainment-page .map {
  @media screen and (min-width: $desktop-size) {
    margin-top: 50px;
  }
}