section.files-partners
  .container
    ul.files-partners__list
      li.files-partners__item
        +icon('icon-xls-file', 'files-partners__icon', '40', '50')
        p.files-partners__name Договор на услуги ООО&nbsp;«Колмас» (наземные экскурсии) #[span.files-partners__size 100 Kb]
        a.files-partners__link.button(href="static/files/service-contract-kolmas-v4.dot" download) Скачать
      li.files-partners__item
        +icon('icon-doc-file', 'files-partners__icon', '40', '50')
        p.files-partners__name Договор на услуги ООО&nbsp;«Колмас Карелия» (подземные экскурсии и питание) #[span.files-partners__size 100 Kb]
        a.files-partners__link.button(href="static/files/service-contract-kolmas-karelia-v4.dot" download) Скачать
      li.files-partners__item
        +icon('icon-doc-file', 'files-partners__icon', '40', '50')
        p.files-partners__name Агентский договор ООО&nbsp;«Колмас» (наземные экскурсии) #[span.files-partners__size 100 Kb]
        a.files-partners__link.button(href="static/files/agency-contract-kolmas-v4.dot" download) Скачать
      li.files-partners__item
        +icon('icon-doc-file', 'files-partners__icon', '40', '50')
        p.files-partners__name Агентский договор ООО&nbsp;«Колмас Карелия» (подземные экскурсии и питание) #[span.files-partners__size 100 Kb]
        a.files-partners__link.button(href="static/files/agency-contract-kolmas-karelia-v4.dot" download) Скачать
      li.files-partners__item
        +icon('icon-pdf-file', 'files-partners__icon', '40', '50')
        p.files-partners__name Прейскурант услуг ООО&nbsp;«Колмас» и ООО&nbsp;«Колмас Карелия» (с 10.01.2021) для организованных групп #[span.files-partners__size 990 Kb]
        a.files-partners__link.button(href="static/files/20210110_price_online_b2b_v1.pdf" download) Скачать
      li.files-partners__item
        +icon('icon-pdf-file', 'files-partners__icon', '40', '50')
        p.files-partners__name Прейскурант услуг ООО&nbsp;«Колмас» и ООО&nbsp;«Колмас Карелия» (с 01.05.2021) для организованных групп #[span.files-partners__size 920 Kb]
        a.files-partners__link.button(href="static/files/20210501_price_online_b2b_v1.pdf" download) Скачать
