section.office-partners
h2.partners__sub-title.partners__sub-title--tabs Офис
p.office-partners__description Здесь вы можете обсудить возможность сотрудничества и заключить договор.
.office-partners__location
  .office-partners__map
  ul.office-partners__list
    li.office-partners__item
      h3.office-partners__title Адрес
      p.office-partners__text Россия, Республика Карелия, п. Рускеала, ул. Мраморная, 1
    li.office-partners__item
      h3.office-partners__title График работы
      p.office-partners__text Пн-пт: 10:00-17:00