section.partners
  .container
    h1.partners__title Партнёрам
    h2.partners__sub-title В Горном Парке Рускеала обслуживание туристов осуществляют две разные организации:
    ul.partners__company-list.company-partners
      li.company-partners__item 
        p.company-partners__name 1. ООО «Колмас» ОГРН 1021000945657 ИНН/КПП 1007008963/100701001
        span.company-partners__services &mdash; услуги по организации посещения Горного Парка Рускеала
        span.company-partners__services &mdash; услуги по организации наземного экскурсионного обслуживания (экскурсия «Мраморный каньон» на русском языке и на иностранном языке, экскурсия «Дорогой горных мастеров» на русском языке и на иностранном языке)
        span.company-partners__services &mdash; дополнительные услуги
      li.company-partners__item 
        p.company-partners__name 2. ООО «Колмас Карелия» ОГРН 1051002034775 ИНН/КПП 1007014533/100701001
        span.company-partners__services &mdash; услуги по организации подземного экскурсионного обслуживания (экскурсия «Подземная Рускеала» на русском языке)
        span.company-partners__services &mdash; услуги по организации питания экскурсионный групп
    p.partners__attention #[b Внимание!] Предварительное бронирование услуг по организации подземного экскурсионного обслуживания осуществляется только в период с 01 октября по 30 апреля во все дни, кроме выходных и праздничных дней.
    p.partners__note Скидки и агентское вознаграждение на подземное экскурсионное обслуживание не предоставляются.
include files
include tabs
include office
include contacts



