section.tabs-partners
  .container
    h2.partners__sub-title.partners__sub-title--tabs Реквезиты
    .tabs-partners__inner
      .tabs-partners__header.tabs__header.swiper-container
        .swiper-wrapper
          span.tabs-partners__name.active.swiper-slide ООО "Колмас Карелия"
          span.tabs-partners__name.swiper-slide ООО "Колмас"
      .tabs-partners__body.tabs__body
        .tabs-partners__text.active
          span ООО «Колмас Карелия»
          span Адрес: 186792 Республика Карелия, г. Сортавала, ул. Промышленная, 44.
          span Тел/факс (81430)46383.
          span ОГРН 1051002034775 ИНН/КПП 1007014533/100701001
          span Банк: Санкт-Петербургский РФ АО «Россельхозбанк»
          span Р/С 40702810935500000161 К/С 30101810900000000910 БИК 044030910
          span Генеральный директор: Бакум Олег Анатольевич
        .tabs-partners__text
          span ООО «Колмас»
          span Адрес: 186790 Республика Карелия, г. Сортавала, ул. Промышленная, 44.
          span Тел/факс (81430)46383.
          span ОГРН 1021000945657 ИНН/КПП 1007008963/100701001
          span Банк: Санкт-Петербургский РФ АО «Россельхозбанк»
          span Р/С 40702810635500000173 К/С 30101810900000000910 БИК 044030910
          span Генеральный директор: Бакум Олег Анатольевич