.about-park {
  background: url("../images/common/about-park-bg-mobile@1x.png") no-repeat center;
  background-size: cover;
  color: $white;
  padding: 20px 0 32px;
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    background-image: url("../images/common/about-park-bg-mobile@2x.png");
    background-size: cover;
  }
  @media screen and (min-width: $desktop-size) {
    background-image: url("../images/common/about-park-bg-desktop@1x.png");
    background-size: cover;
    padding: 60px 0 220px;
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      background-image: url("../images/common/about-park-bg-desktop@2x.png");
      background-size: cover;
    }
  }
  &__content {
    @media screen and (min-width: $desktop-size) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__inner {
    @media screen and (min-width: $desktop-size) {
      width: 45%;
      flex-shrink: 0;
    }
  }
  &__title {
    font-size: 40px;
    font-weight: 800;
    line-height: 49px;
    margin-bottom: 20px;
    @media screen and (min-width: $desktop-size) {
      font-size: 60px;
      line-height: 73px;
      margin-bottom: 60px;
    }
  }
  &__main-text {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
    @media screen and (min-width: $desktop-size) {
      font-size: 30px;
      line-height: 50px;
      margin-bottom: 0;
    }
  }
  &__text {
    font-size: 14px;
    line-height: 22px;
    @media screen and (min-width: $desktop-size) {
      font-size: 18px;
      line-height: 33px;
      width: 47%;
    }
  }
}