section.entertainment
    h1.visually-hidden Страница с возможными развлечениями в парке Рускеала
    ul.entertainment__list
        li.entertainment__item
            .entertainment__images.swiper-container.entertainment__slider--kalevala
                ul.entertainment__image-list.entertainment-images.swiper-wrapper
                    li.entertainment-images__item.swiper-slide
                        picture.entertainment__picture
                            //source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
                            //source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
                            //- source(media="(min-width: 1280px)" srcset="static/images/content/entertainment/canyon-1-desktop1x.png 1x, static/images/content/entertainment/canyon-1-desktop2x.png 2x")
                            img.entertainment__img(src="static/images/content/entertainment/kavevala-1-mobile@1x.png" srcset="static/images/content/entertainment/kavevala-1-mobile@2x.png 2x" width="320" height="250" alt="Тайные тропы земли KALEVARA")
                    li.entertainment-images__item.swiper-slide
                        picture.entertainment__picture
                            //source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
                            //source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
                            //- source(media="(min-width: 1280px)" srcset="static/images/content/entertainment/canyon-2-desktop1x.png 1x, static/images/content/entertainment/canyon-2-desktop2x.png 2x")
                            img.entertainment__img(src="static/images/content/entertainment/kavevala-2-mobile@1x.png" srcset="static/images/content/entertainment/kavevala-2-mobile@2x.png 2x" width="320" height="250" alt="Тайные тропы земли KALEVARA")
                    li.entertainment-images__item.swiper-slide
                        picture.entertainment__picture
                            //source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
                            //source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
                            //- source(media="(min-width: 1280px)" srcset="static/images/content/entertainment/canyon-3-desktop1x.png 1x, static/images/content/entertainment/canyon-3-desktop2x.png 2x")
                            img.entertainment__img(src="static/images/content/entertainment/kavevala-3-mobile@1x.png" srcset="static/images/content/entertainment/kavevala-3-mobile@2x.png 2x" width="320" height="250" alt="Тайные тропы земли KALEVARA")
                    li.entertainment-images__item.swiper-slide
                        picture.entertainment__picture
                            //source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
                            //source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
                            //- source(media="(min-width: 1280px)" srcset="static/images/content/entertainment/canyon-4-desktop1x.png 1x, static/images/content/entertainment/canyon-4-desktop2x.png 2x")
                            img.entertainment__img(src="static/images/content/entertainment/kavevala-4-mobile@1x.png" srcset="static/images/content/entertainment/kavevala-4-mobile@2x.png 2x" width="320" height="250" alt="Тайные тропы земли KALEVARA")
                .entertainment__slider-buttons
                    .entertainment__slider-button.entertainment__slider-button--prev.slider__button
                        +icon('icon-prev-next', 'slider__icon slider__icon--white slider__icon--prev', '32', '32')
                    .entertainment__slider-button.entertainment__slider-button--next.slider__button
                        +icon('icon-prev-next', 'slider__icon slider__icon--white slider__icon--next', '32', '32')
            .entertainment__content
                .container
                    .entertainment__inner
                        span.entertainment__sub-title Активный отдых
                        h2.entertainment__title Тайные тропы Земли KALEVALA
                        p.entertainment__text 190 лет назад финский фольклорист Элиас Леннрот записал в окрестностях Сортавалы первые народные песни, ставшие основой известного на весь мир народного эпоса «Калевала». А теперь каждый желающий может побывать в мире «Калевалы» - пускай, не в настоящем, но очень интригующем и красивом.
                        a.entertainment__read-more Читать полностью
                        .entertainment__bottom
                            .entertainment__ticket
                                span.entertainment__cost Стоимость входа
                                .entertainment__price
                                    span.entertainment__count 100
                                    span.entertainment__person руб. / чел
                                button.button.entertainment__buy Купить билет
                            .entertainment__attention
                                p.entertainment__note <b>Внимание!</b> Для получения услуги дополнительно требуется <span class="js-buyticket-open">входной билет</span> в парк.
                                button.button.button--transparent.button--dashed.entertainment__add Дополнительно
        li.entertainment__item
            .entertainment__images.swiper-container.entertainment__slider--boat-trip.entertainment__images--left
                ul.entertainment__image-list.entertainment-images.swiper-wrapper
                    li.entertainment-images__item.swiper-slide
                        picture.entertainment__picture
                            //source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
                            //source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
                            //- source(media="(min-width: 1280px)" srcset="static/images/content/entertainment/canyon-1-desktop1x.png 1x, static/images/content/entertainment/canyon-1-desktop2x.png 2x")
                            img.entertainment__img(src="static/images/content/entertainment/kavevala-1-mobile@1x.png" srcset="static/images/content/entertainment/kavevala-1-mobile@2x.png 2x" width="320" height="250" alt="Тайные тропы земли KALEVARA")
                    li.entertainment-images__item.swiper-slide
                        picture.entertainment__picture
                            //source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
                            //source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
                            //- source(media="(min-width: 1280px)" srcset="static/images/content/entertainment/canyon-2-desktop1x.png 1x, static/images/content/entertainment/canyon-2-desktop2x.png 2x")
                            img.entertainment__img(src="static/images/content/entertainment/kavevala-2-mobile@1x.png" srcset="static/images/content/entertainment/kavevala-2-mobile@2x.png 2x" width="320" height="250" alt="Тайные тропы земли KALEVARA")
                    li.entertainment-images__item.swiper-slide
                        picture.entertainment__picture
                            //source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
                            //source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
                            //- source(media="(min-width: 1280px)" srcset="static/images/content/entertainment/canyon-3-desktop1x.png 1x, static/images/content/entertainment/canyon-3-desktop2x.png 2x")
                            img.entertainment__img(src="static/images/content/entertainment/kavevala-3-mobile@1x.png" srcset="static/images/content/entertainment/kavevala-3-mobile@2x.png 2x" width="320" height="250" alt="Тайные тропы земли KALEVARA")
                    li.entertainment-images__item.swiper-slide
                        picture.entertainment__picture
                            //source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
                            //source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
                            //- source(media="(min-width: 1280px)" srcset="static/images/content/entertainment/canyon-4-desktop1x.png 1x, static/images/content/entertainment/canyon-4-desktop2x.png 2x")
                            img.entertainment__img(src="static/images/content/entertainment/kavevala-4-mobile@1x.png" srcset="static/images/content/entertainment/kavevala-4-mobile@2x.png 2x" width="320" height="250" alt="Тайные тропы земли KALEVARA")
                .entertainment__slider-buttons
                    .entertainment__slider-button.entertainment__slider-button--prev.slider__button
                        +icon('icon-prev-next', 'slider__icon slider__icon--white slider__icon--prev', '32', '32')
                    .entertainment__slider-button.entertainment__slider-button--next.slider__button
                        +icon('icon-prev-next', 'slider__icon slider__icon--white slider__icon--next', '32', '32')
            .entertainment__content
                .container
                    .entertainment__inner.entertainment__inner--right
                        span.entertainment__sub-title Активный отдых
                        h2.entertainment__title Водная прогулка по мраморному озеру
                        ul.entertainment__info.entertainment-info.excursion-info
                            li.entertainment-info__item.excursion-info__item
                                +icon('icon-chronometer', 'excursion-info__icon entertainment-info__icon entertainment-info__icon--chrono', '24', '24')
                                span.entertainment-info__limit.excursion-info__limit 60 мин.
                            li.entertainment-info__item.excursion-info__item
                                +icon('icon-route', 'excursion-info__icon entertainment-info__icon entertainment-info__icon--route', '24', '24')
                                span.entertainment-info__limit.excursion-info__limit 2600 м.
                            li.entertainment-info__item.excursion-info__item
                                +icon('icon-baby-boy', 'excursion-info__icon entertainment-info__icon entertainment-info__icon--baby-boy', '24', '24')
                                span.entertainment-info__limit.excursion-info__limit 3+
                            li.entertainment-info__item.excursion-info__item
                                +icon('icon-group-people', 'excursion-info__icon entertainment-info__icon entertainment-info__icon--group-people', '24', '24')
                                span.entertainment-info__limit.excursion-info__limit 4 чел.
                        p.entertainment__text Водная прогулка по мраморному каньону оставит незабываемые впечатления и позволит насладится видами на каньон и красотами мраморных пещер, которые доступны только из воды.
                        a.entertainment__read-more Читать полностью
                        .entertainment__bottom
                            .entertainment__ticket
                                span.entertainment__cost Стоимость входа
                                .entertainment__price
                                    span.entertainment__count 800
                                    span.entertainment__person руб. / 1 час
                                button.button.entertainment__buy Купить билет
                            .entertainment__attention
                                p.entertainment__note <b>Внимание!</b> Для получения услуги дополнительно требуется <span class="js-buyticket-open">входной билет</span> в парк.
                                button.button.button--transparent.button--dashed.entertainment__add Дополнительно