.tour-description.modal__closed
	button.close-button.tour-description__close-button
		+icon('icon-small-close', 'enter-ticket__icon enter-ticket__icon--close', '18', '18')
	.tour-description__header
		.container
			h3.tour-description__note Тур
			h2.tour-description__title «Выходные в Карелии»<br> 2 дня
	.tour-description__include-cost
		.container
			h3.tour-description__sub-title Что входит в стоимость:
			ul.tour-description__list.tour-cost__list
			h3.tour-description__sub-title.tour-description__sub-title--big Маршрут
	picture.tour-description__picture
		source(media="(min-width: 1280px)")
		img.tour-description__img(width="320" height="582" alt="Интерактивная карта" loading="lazy")
	.tour-description__need-visit
		.container
			.tour-need-visited
				.tour-need-visited__top
					+icon('icon-photo', 'tour-need-visited__icon', '48', '41')
					h2.tour-need-visited__title Места посещения
				ul.tour-need-visited__list
	.tour-description__programs.tour-programs
		.container
			h2.tour-programs__title Программа тура
			h3.tour-programs__sub-title День 1
		.tour-programs__first-day.tour-programs__days.swiper-container
			ul.tour-programs__list.swiper-wrapper
		.container
			.tour-programs__scrollbar.tour-programs__scrollbar--first.scrollbar
				.scrollbar__drag.scrollbar__drag--small
					+icon('icon-walk', 'scrollbar__mouse scrollbar__walk', '28', '40')
					+icon('icon-arrow', 'scrollbar__icon scrollbar__icon--left', '12', '7')
					+icon('icon-arrow', 'scrollbar__icon scrollbar__icon--right', '12', '7')
			h3.tour-programs__sub-title День 2
		.tour-programs__second-day.tour-programs__days.swiper-container
			ul.tour-programs__list.swiper-wrapper
		.container
			.tour-programs__scrollbar.tour-programs__scrollbar--second.scrollbar
				.scrollbar__drag.scrollbar__drag--small
					+icon('icon-walk', 'scrollbar__mouse scrollbar__walk', '28', '40')
					+icon('icon-arrow', 'scrollbar__icon scrollbar__icon--left', '12', '7')
					+icon('icon-arrow', 'scrollbar__icon scrollbar__icon--right', '12', '7')
	.tour-description__tour-cost
		include ../modal-tour-cost/modal-tour-cost



