.tour-reserved.modal__closed
    button.close-button.tour-reserved__close-button
        +icon('icon-small-close', 'enter-ticket__icon enter-ticket__icon--close', '18', '18')
    include ../modal-tour-cost/modal-tour-cost