.tour-description.modal__closed
	button.close-button.tour-description__close-button
		+icon('icon-small-close', 'enter-ticket__icon enter-ticket__icon--close', '18', '18')
	.tour-description__header
		.container
			h3.tour-description__note Тур
			h2.tour-description__title «Выходные в Карелии»<br> 2 дня
	.tour-description__include-cost
		.container
			h3.tour-description__sub-title Что входит в стоимость:
			ul.tour-description__list.tour-cost__list
				li.tour-cost__item
					+icon('icon-check', 'tour-cost__icon', '32', '32')
					p.tour-cost__text Трансфер на комфортабельном туристическом автобусе
				li.tour-cost__item
					+icon('icon-check', 'tour-cost__icon', '32', '32')
					p.tour-cost__text Проживание в отеле выбранной категории в регионе города Сортавала
				li.tour-cost__item
					+icon('icon-check', 'tour-cost__icon', '32', '32')
					p.tour-cost__text Входные билеты в горный парк Рускеала
				li.tour-cost__item
					+icon('icon-check', 'tour-cost__icon', '32', '32')
					p.tour-cost__text Сытные завтраки в отеле
				li.tour-cost__item
					+icon('icon-check', 'tour-cost__icon', '32', '32')
					p.tour-cost__text Сопровождение одного из лучших гидов на протяжении двух дней тура
				li.tour-cost__item
					+icon('icon-check', 'tour-cost__icon', '32', '32')
					p.tour-cost__text Трассовые экскурсии и посещение достопримечательностей по программе тур
				li.tour-cost__item
					+icon('icon-check', 'tour-cost__icon', '32', '32')
					p.tour-cost__text Осмотр средневековой крепости Корела
				li.tour-cost__item
					+icon('icon-check', 'tour-cost__icon', '32', '32')
					p.tour-cost__text Остановка у рускеальских водопадов Ахвенкоски и мест съемок знаменитых фильмов
				li.tour-cost__item
					+icon('icon-check', 'tour-cost__icon', '32', '32')
					p.tour-cost__text Обзорная экскурсия по горному парку Рускеала с местным гидом
				li.tour-cost__item
					+icon('icon-check', 'tour-cost__icon', '32', '32')
					p.tour-cost__text Увеличенное свободное время в парке
				li.tour-cost__item
					+icon('icon-check', 'tour-cost__icon', '32', '32')
					p.tour-cost__text Авторская экскурсия "Скалистый берег Кирьяволахти" к самым живописным местам
				li.tour-cost__item
					+icon('icon-check', 'tour-cost__icon', '32', '32')
					p.tour-cost__text Посещение музея под открытым небом "Северная Фиваида"
				li.tour-cost__item
					+icon('icon-check', 'tour-cost__icon', '32', '32')
					p.tour-cost__text Обзорная экскурсия по городу Сортавала
				li.tour-cost__item
					+icon('icon-check', 'tour-cost__icon', '32', '32')
					p.tour-cost__text Посещение природного парка Ваккосалми и горы Кухавуори (подъем может быть отменен по погодным условиям)
				li.tour-cost__item
					+icon('icon-check', 'tour-cost__icon', '32', '32')
					p.tour-cost__text Остановка у музейного комплекса "Гора Филина"
				li.tour-cost__item
					+icon('icon-check', 'tour-cost__icon', '32', '32')
					p.tour-cost__text Остановка у фирменного магазина форелевого хозяйства и магазина карельских бальзамов
			h3.tour-description__sub-title.tour-description__sub-title--big Маршрут
	picture.tour-description__picture
		//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
		//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
		source(media="(min-width: 1280px)" srcset="static/images/content/tours/map-desktop@1x.png 1x, static/images/content/tours/map-desktop@2x.png 2x")
		img.tour-description__img(src="static/images/content/excursions/route-map-mobile@1x.png" srcset="static/images/content/excursions/route-map-mobile@2x.png 2x" width="320" height="582" alt="Интерактивная карта")
	.tour-description__need-visit
		.container
			.tour-need-visited
				.tour-need-visited__top
					+icon('icon-photo', 'tour-need-visited__icon', '48', '41')
					h2.tour-need-visited__title Места посещения
				ul.tour-need-visited__list
					li.tour-need-visited__item
						p.tour-need-visited__text водопады Ахвенкоски
					li.tour-need-visited__item
						p.tour-need-visited__text Крепость Кексгольм
					li.tour-need-visited__item
						p.tour-need-visited__text музейный комплекс "Гора Филина"
					li.tour-need-visited__item
						p.tour-need-visited__text музей под открытым небом "Северная Фиваида"
					li.tour-need-visited__item
						p.tour-need-visited__text Горный парк Рускеала
					li.tour-need-visited__item
						p.tour-need-visited__text Сортавала: обзорная экскурсия
					li.tour-need-visited__item
						p.tour-need-visited__text залив Кирьявалахти
					li.tour-need-visited__item
						p.tour-need-visited__text Музей Кронида Гоголева
	.tour-description__programs.tour-programs
		.container
			h2.tour-programs__title Программа тура
			h3.tour-programs__sub-title День 1
		.tour-programs__first-day.tour-programs__days.swiper-container
			ul.tour-programs__list.swiper-wrapper
				li.tour-programs__item.swiper-slide
					span.tour-programs__times.tour-programs__times--orange 8:00
					p.tour-programs__text.tour-programs__text--bottom Отправление из Санкт-Петербурга
				li.tour-programs__item.swiper-slide
					p.tour-programs__text Остановка в Приозерске. Внешний осмотр крепости  Корела
					span.tour-programs__times 10:00
				li.tour-programs__item.swiper-slide
					span.tour-programs__times 13:30
					p.tour-programs__text.tour-programs__text--bottom Остановка в городе Сортавала на обед
				li.tour-programs__item.swiper-slide
					p.tour-programs__text Остановка у Рускеальских водопадов
					span.tour-programs__times 15:00
				li.tour-programs__item.swiper-slide
					span.tour-programs__times 15:30
					p.tour-programs__text.tour-programs__text--bottom Горный парк Рускеала. Экскурсия и свободное время
				li.tour-programs__item.swiper-slide
					p.tour-programs__text Прибытие в Сортавалу. Расселение по отелям. Ужин и отдых
					span.tour-programs__times.tour-programs__times--orange 20:00
		.container
			.tour-programs__scrollbar.tour-programs__scrollbar--first.scrollbar
				.scrollbar__drag.scrollbar__drag--small
					+icon('icon-walk', 'scrollbar__mouse scrollbar__walk', '28', '40')
					+icon('icon-arrow', 'scrollbar__icon scrollbar__icon--left', '12', '7')
					+icon('icon-arrow', 'scrollbar__icon scrollbar__icon--right', '12', '7')
			h3.tour-programs__sub-title День 2
		.tour-programs__second-day.tour-programs__days.swiper-container
			ul.tour-programs__list.swiper-wrapper
				li.tour-programs__item.swiper-slide
					span.tour-programs__times.tour-programs__times--orange 9:00
					p.tour-programs__text.tour-programs__text--bottom Завтрак в отеле. Сбор группы в автобусе
				li.tour-programs__item.swiper-slide
					p.tour-programs__text Поездка по побережью залива Кирьявалахти
					span.tour-programs__times 11:00
				li.tour-programs__item.swiper-slide
					span.tour-programs__times 12:00
					p.tour-programs__text.tour-programs__text--bottom Музей резьбы по дереву художника Кронида Гоголева
				li.tour-programs__item.swiper-slide
					p.tour-programs__text Обзорная экскурсия по городу Сортавала
					span.tour-programs__times 13:00
				li.tour-programs__item.swiper-slide
					span.tour-programs__times 14:00
					p.tour-programs__text.tour-programs__text--bottom Остановка на обед
				li.tour-programs__item.swiper-slide
					span.tour-programs__times 16:00
					p.tour-programs__text.tour-programs__text--bottom Музейный комплекс «Гора Филина»
				li.tour-programs__item.swiper-slide
					span.tour-programs__times 18:00
					p.tour-programs__text.tour-programs__text--bottom Посещение фирменного магазина форелевого хозяйства
				li.tour-programs__item.swiper-slide
					p.tour-programs__text Ориентировочное время возвращения в Санкт-Петербург
					span.tour-programs__times.tour-programs__times--orange 23:00
		.container
			.tour-programs__scrollbar.tour-programs__scrollbar--second.scrollbar
				.scrollbar__drag.scrollbar__drag--small
					+icon('icon-walk', 'scrollbar__mouse scrollbar__walk', '28', '40')
					+icon('icon-arrow', 'scrollbar__icon scrollbar__icon--left', '12', '7')
					+icon('icon-arrow', 'scrollbar__icon scrollbar__icon--right', '12', '7')
	.tour-description__tour-cost
		include ../modal-tour-cost/modal-tour-cost



