.interactive-map {
  &__close-button {
    background-color: transparent;
    font-size: 0;
    line-height: 0;
    padding: 7px;
    top: 65px;
    right: 20px;
    z-index: 10;
    @media screen and (min-width: $desktop-size) {
      left: auto;
      padding: 16px;
      right: 20px;
      top: 90px;
      svg {
        height: 32px;
        width: 32px;
      }
    }
  }
  &__map {
    height: 100%;
    width: 100%;
  }
}