.sandwich(data-target-id="js-nav-menu" data-target-class-toggle="nav--open")
    .sandwich__line.sandwich__line--top
    .sandwich__line.sandwich__line--middle
    .sandwich__line.sandwich__line--bottom