.eat-menu.eat-menu--ruskolka
	button.close-button.eat-menu__close.eat-menu__close--ruskolka
		+icon('icon-small-close', 'enter-ticket__icon enter-ticket__icon--close', '18', '18')
	.container
		.eat-menu__header
			img.eat-menu__logo(src="static/images/common/logo-ruskeala.svg" width="49" height="53" alt="Логотип парка Рускеала")
			h2.eat-menu__title Наше меню Р
	ul.eat-menu__wrapper
		li.eat-menu__row
			.eat-menu__col
				ul.eat-menu__list
					li.eat-menu__item.eat-menu__item--head
						span.eat-menu__name.eat-menu__name--head.eat-menu__name--green Салаты
						span.eat-menu__weight.eat-menu__weight--head гр.
						span.eat-menu__price.eat-menu__price--head Р
					li.eat-menu__item
						span.eat-menu__name Винигрет «Карелыч» с сельдю
						span.eat-menu__weight 150
						span.eat-menu__price 140
					li.eat-menu__item
						span.eat-menu__name «Греческий»
						span.eat-menu__weight 150
						span.eat-menu__price 180
					li.eat-menu__item
						span.eat-menu__name Тёплый салат с курой гриль
						span.eat-menu__weight 250
						span.eat-menu__price 140
					li.eat-menu__item
						span.eat-menu__name Салат с подкопчённо северной треской и перепилинными яйцами
						span.eat-menu__weight 200
						span.eat-menu__price 140
				ul.eat-menu__list
					li.eat-menu__item.eat-menu__item--head
						span.eat-menu__name.eat-menu__name--head.eat-menu__name--blue Первые блюда
						span.eat-menu__weight.eat-menu__weight--head гр.
						span.eat-menu__price.eat-menu__price--head Р
					li.eat-menu__item
						span.eat-menu__name Судак запечённый с подкопчёнными пюре и грибным жюльеном
						span.eat-menu__weight 150
						span.eat-menu__price 420
					li.eat-menu__item
						span.eat-menu__name Стейк из форели на гриле с молодой зелённой фасолью и соусом белое вино
						span.eat-menu__weight 150
						span.eat-menu__price 460
					li.eat-menu__item
						span.eat-menu__name Карельская форель-гриль в прянной натирке с печёным кортофелем
						span.eat-menu__weight 250
						span.eat-menu__price 140
		li.eat-menu__row.eat-menu__row--padding
			.eat-menu__col
				ul.eat-menu__list.eat-menu__list--margin-none
					li.eat-menu__item.eat-menu__item--head
						span.eat-menu__name.eat-menu__name--head.eat-menu__name--orange Блюда из мяса
						span.eat-menu__weight.eat-menu__weight--head гр.
						span.eat-menu__price.eat-menu__price--head Р
					li.eat-menu__item
						span.eat-menu__name Стейк и свинной корейки гриль с кортофелем по деревенскии и брусничным соусом
						span.eat-menu__weight 150
						span.eat-menu__price 420
					li.eat-menu__item
						span.eat-menu__name Куринный галантин со сливочным булгуром и брусничным соусом
						span.eat-menu__weight 100
						span.eat-menu__price 270
					li.eat-menu__item
						span.eat-menu__name Рулет из свиной корейки с грибами и бекконом. Подаёться с кортофельным пьюре и брусничным соусомю
						span.eat-menu__weight 250
						span.eat-menu__price 360
					li.eat-menu__item
						span.eat-menu__name Куринный галантин со сливочным булгуром и брусничным соусом
						span.eat-menu__weight 100
						span.eat-menu__price 270
				ul.eat-menu__list
					li.eat-menu__item.eat-menu__item--head.eat-menu__item--none
						span.eat-menu__name.eat-menu__name--head.eat-menu__name--transparent Первые блюда
						span.eat-menu__weight.eat-menu__weight--head гр.
						span.eat-menu__price.eat-menu__price--head Р
					li.eat-menu__item
						span.eat-menu__name Меню «По-Велесски» с лесными грибами и кортофельным пюре
						span.eat-menu__weight 150
						span.eat-menu__price 380
					li.eat-menu__item
						span.eat-menu__name Куриная грудка гриль с запечённым отварным картофелем и брусничным соусом
						span.eat-menu__weight 100
						span.eat-menu__price 310
					li.eat-menu__item
						span.eat-menu__name Рулет из свиной корейки с грибами и бекконом. Подаёться с кортофельным пьюре и брусничным соусомю
						span.eat-menu__weight 250
						span.eat-menu__price 360
					li.eat-menu__item
						span.eat-menu__name Куринный галантин со сливочным булгуром и брусничным соусом
						span.eat-menu__weight 100
						span.eat-menu__price 270
		li.eat-menu__row
			.eat-menu__col
				ul.eat-menu__list
					li.eat-menu__item.eat-menu__item--head
						span.eat-menu__name.eat-menu__name--head Блюда из рыбы
						span.eat-menu__weight.eat-menu__weight--head гр.
						span.eat-menu__price.eat-menu__price--head Р
					li.eat-menu__item
						span.eat-menu__name Винигрет «Карелыч» с сельдю
						span.eat-menu__weight 150
						span.eat-menu__price 140
					li.eat-menu__item
						span.eat-menu__name «Греческий»
						span.eat-menu__weight 150
						span.eat-menu__price 180
					li.eat-menu__item
						span.eat-menu__name Тёплый салат с курой гриль
						span.eat-menu__weight 250
						span.eat-menu__price 140
					li.eat-menu__item
						span.eat-menu__name Салат с подкопчённо северной треской и перепилинными яйцами
						span.eat-menu__weight 200
						span.eat-menu__price 140
				ul.eat-menu__list
					li.eat-menu__item.eat-menu__item--head
						span.eat-menu__name.eat-menu__name--head Блинчики
						span.eat-menu__weight.eat-menu__weight--head гр.
						span.eat-menu__price.eat-menu__price--head Р
					li.eat-menu__item
						span.eat-menu__name Винигрет «Карелыч» с сельдю
						span.eat-menu__weight 150
						span.eat-menu__price 140
					li.eat-menu__item
						span.eat-menu__name «Греческий»
						span.eat-menu__weight 150
						span.eat-menu__price 180
					li.eat-menu__item
						span.eat-menu__name Тёплый салат с курой гриль
						span.eat-menu__weight 250
						span.eat-menu__price 140
					li.eat-menu__item
						span.eat-menu__name Салат с подкопчённо северной треской и перепилинными яйцами
						span.eat-menu__weight 200
						span.eat-menu__price 140
		li.eat-menu__row
			.eat-menu__col
				ul.eat-menu__list
					li.eat-menu__item.eat-menu__item--head
						span.eat-menu__name.eat-menu__name--head Гарниры
						span.eat-menu__weight.eat-menu__weight--head гр.
						span.eat-menu__price.eat-menu__price--head Р
					li.eat-menu__item
						span.eat-menu__name Судак запечённый с подкопчёнными пюре и грибным жюльеном
						span.eat-menu__weight 150
						span.eat-menu__price 420
					li.eat-menu__item
						span.eat-menu__name Стейк из форели на гриле с молодой зелённой фасолью и соусом белое вино
						span.eat-menu__weight 150
						span.eat-menu__price 460
					li.eat-menu__item
						span.eat-menu__name Карельская форель-гриль в прянной натирке с печёным кортофелем
						span.eat-menu__weight 250
						span.eat-menu__price 140
				ul.eat-menu__list
					li.eat-menu__item.eat-menu__item--head
						span.eat-menu__name.eat-menu__name--head Калитки
						span.eat-menu__weight.eat-menu__weight--head гр.
						span.eat-menu__price.eat-menu__price--head Р
					li.eat-menu__item
						span.eat-menu__name Судак запечённый с подкопчёнными пюре и грибным жюльеном
						span.eat-menu__weight 150
						span.eat-menu__price 420
					li.eat-menu__item
						span.eat-menu__name Стейк из форели на гриле с молодой зелённой фасолью и соусом белое вино
						span.eat-menu__weight 150
						span.eat-menu__price 460
					li.eat-menu__item
						span.eat-menu__name Карельская форель-гриль в прянной натирке с печёным кортофелем
						span.eat-menu__weight 250
						span.eat-menu__price 140
	span.eat-menu__enjoy Приятного аппетита

