section.hotel-park
	h1.visually-hidden Гостиница в парке Рускеала
	.hotel-park__hero
		.hotel-park__images.hotel-images.swiper-container
			ul.hotel-park__image-list.hotel-images__list.swiper-wrapper
				li.hotel-images__item.swiper-slide
					.hotel-images__wrap
						span.hotel-images__title Ресторан
					picture.hotel-images__picture
						//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
						//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
						source(media="(min-width: 1280px)" srcset="static/images/content/hotel/hotel-1-desktop@1x.png 1x, static/images/content/hotel/hotel-1-desktop@2x.png 2x")
						img.hotel-images__img(src="static/images/content/hotel/hotel-1-mobile@1x.png" srcset="static/images/content/hotel/hotel-1-mobile@2x.png 2x" width="320" height="320" alt="Фото ресторана Русколка" loading="lazy")
				li.hotel-images__item.swiper-slide
					.hotel-images__wrap
						span.hotel-images__title Лобби-бар
					picture.hotel-images__picture
						//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
						//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
						source(media="(min-width: 1280px)" srcset="static/images/content/hotel/hotel-2-desktop@1x.png 1x, static/images/content/hotel/hotel-2-desktop@2x.png 2x")
						img.hotel-images__img(src="static/images/content/hotel/hotel-2-mobile@1x.png" srcset="static/images/content/hotel/hotel-2-mobile@2x.png 2x" width="320" height="320" alt="Фото лобби-бара ресторана Русколка" loading="lazy")
				li.hotel-images__item.swiper-slide
					.hotel-images__wrap
						span.hotel-images__title Детская площадка
					picture.hotel-images__picture
						//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
						//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
						source(media="(min-width: 1280px)" srcset="static/images/content/hotel/hotel-3-desktop@1x.png 1x, static/images/content/hotel/hotel-3-desktop@2x.png 2x")
						img.hotel-images__img(src="static/images/content/hotel/hotel-3-mobile@1x.png" srcset="static/images/content/hotel/hotel-3-mobile@2x.png 2x" width="320" height="320" alt="Фото детской площадки в отеле" loading="lazy")
				li.hotel-images__item.swiper-slide
					.hotel-images__wrap
						span.hotel-images__title Сауна
					picture.hotel-images__picture
						//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
						//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
						source(media="(min-width: 1280px)" srcset="static/images/content/hotel/hotel-4-desktop@1x.png 1x, static/images/content/hotel/hotel-4-desktop@2x.png 2x")
						img.hotel-images__img(src="static/images/content/hotel/hotel-4-mobile@1x.png" srcset="static/images/content/hotel/hotel-4-mobile@2x.png 2x" width="320" height="320" alt="Фото сауны в отеле" loading="lazy")
				li.hotel-images__item.swiper-slide
					.hotel-images__wrap
						span.hotel-images__title Терраса
					picture.hotel-images__picture
						//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
						//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
						source(media="(min-width: 1280px)" srcset="static/images/content/hotel/hotel-5-desktop@1x.png 1x, static/images/content/hotel/hotel-5-desktop@2x.png 2x")
						img.hotel-images__img(src="static/images/content/hotel/hotel-5-mobile@1x.png" srcset="static/images/content/hotel/hotel-5-mobile@2x.png 2x" width="320" height="320" alt="Фото террасы в отеле" loading="lazy")
				li.hotel-images__item.swiper-slide
					.hotel-images__wrap
						span.hotel-images__title Шведский стол
					picture.hotel-images__picture
						//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
						//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
						source(media="(min-width: 1280px)" srcset="static/images/content/hotel/hotel-6-desktop@1x.png 1x, static/images/content/hotel/hotel-6-desktop@2x.png 2x")
						img.hotel-images__img(src="static/images/content/hotel/hotel-6-mobile@1x.png" srcset="static/images/content/hotel/hotel-6-mobile@2x.png 2x" width="320" height="320" alt="Фото шведского стола в отеле" loading="lazy")
		.hotel-park__inner
			.container
				.hotel-park__box
					span.hotel-park__sub-title Гостиница
					h2.hotel-park__title "Пийпун Пиха"
					p.hotel-park__text Мы рады предложить нашим гостям 19 номеров различной категории для комфортного проживания и уютный ресторан для приятного отдыха. Изящная классика, великолепие и оригинальный карельский колорит соединены в интерьере и обстановке гостиницы.
					a.hotel-park__reserv.button(href="#rooms-hotel") Забронировать номер
						+icon('icon-arrow--bottom', 'hotel-park__icon--arrow', '14', '22')
					.hotel-park__slider-buttons
						.hotel-park__slider-button.hotel-park__slider-button--prev.slider__button
							+icon('icon-prev-next', 'slider__icon slider__icon--white slider__icon--prev', '32', '32')
						.hotel-park__slider-button.hotel-park__slider-button--next.slider__button
							+icon('icon-arrow--right', 'slider__icon slider__icon--white slider__icon--next', '32', '32')
	ul.hotel-park__rooms.rooms-hotel#rooms-hotel
		li.rooms-hotel__item.rooms-hotel__item--standart
			.rooms-hotel__inner
				span.rooms-hotel__name Cтандартный 2-местный номер с одной двухместной кроватью
				.excursions__price.rooms-hotel_-price
					span.excursions__count.rooms-hotel__count 3 900
					span.excursions__person.rooms-hotel__person руб./сутки
				button.button.button--transparent.rooms-hotel__button.button--dashed.js-reserved-room-open Забронировать
		li.rooms-hotel__item.rooms-hotel__item--vip
			.rooms-hotel__inner
				span.rooms-hotel__name Экслюзивный 2-местный номер с одной краватью или двумя отдельными кроватями
				.excursions__price.rooms-hotel_-price
					span.excursions__count.rooms-hotel__count 4 500
					span.excursions__person.rooms-hotel__person руб./сутки
				button.button.button--transparent.rooms-hotel__button.button--dashed.js-reserved-room-open Забронировать
		li.rooms-hotel__item.rooms-hotel__item--separated
			.rooms-hotel__inner
				span.rooms-hotel__name Стандартный 2-местный номер с двумя отдельными одноместными кроватями
				.excursions__price.rooms-hotel_-price
					span.excursions__count.rooms-hotel__count 3 900
					span.excursions__person.rooms-hotel__person руб./сутки
				button.button.button--transparent.rooms-hotel__button.button--dashed.js-reserved-room-open Забронировать