section.eat-park
	.eat-park__content
		.container
			h1.visually-hidden Где поесть в парке Рускеала ?
			ul.eat-park__list
				li.eat-park__item
					picture.eat-park__picture
						source(media="(min-width: 1280px)" srcset="static/images/content/where-to-eat/cafe-1-desktop@1x.png 1x, static/images/content/where-to-eat/cafe-1-desktop@2x.png 2x")
						img.eat-park__img(src="static/images/content/where-to-eat/cafe-1-mobile@1x.png" srcset="static/images/content/where-to-eat/cafe-1-mobile@2x.png 2x" width="320" height="320" alt="Кафе Рускеала" loading="lazy")
					.eat-park__inner
						h3.eat-park__name Кафе Русколка
						p.eat-park__text Просторное кафе, где можно вкусно пообедать, отдохнуть, и набраться сил после дороги или в перерыве между осмотром достопримеча- тельностей. На выбор гостей блюда европейской и карельской кухни.
						button.button.button--orange-transparent.eat-park__button.js-ruskolka-menu-open Открыть меню
				li.eat-park__item
					picture.eat-park__picture
						source(media="(min-width: 1280px)" srcset="static/images/content/where-to-eat/cafe-2-desktop@1x.png 1x, static/images/content/where-to-eat/cafe-2-desktop@2x.png 2x")
						img.eat-park__img(src="static/images/content/where-to-eat/cafe-2-mobile@1x.png" srcset="static/images/content/where-to-eat/cafe-2-mobile@2x.png 2x" width="320" height="320" alt="Kolmas Burgers" loading="lazy")
					.eat-park__inner.eat-park__inner--right
						h3.eat-park__name Kolmas Burgers
						p.eat-park__text Рецепт вкусного бургера очень прост - свежая булочка, котлета на любой вкус: мясо, курица или рыба, а также, овощная котлета для любителей лёгкого меню, отборные свежие овощи и немного соуса. Здесь, у Вас будет возможность попробовать картофель фри, сдобренный нашими фирменными специями.
						button.button.button--orange-transparent.eat-park__button.js-burgers-menu-open Открыть меню
				li.eat-park__item.eat-park__item--summer
					picture.eat-park__picture
						img.eat-park__img(src="static/images/content/where-to-eat/cafe-3@1x.png" srcset="static/images/content/where-to-eat/cafe-3@2x.png 2x" width="320" height="320" alt="Кафе Лето" loading="lazy")
					.eat-park__inner.eat-park__inner--summer
						h3.eat-park__name Кафе "Лето"
						p.eat-park__text Просторное кафе, где можно вкусно пообедать, отдохнуть, и набраться сил после дороги или в перерыве между осмотром достопримечательностей. На выбор гостей блюда европейской и карельской кухни.
						button.button.button--orange-transparent.eat-park__button.js-burgers-menu-open Открыть меню
	.eat-park__souvenirs.souvenirs-park
		.container
			h2.souvenirs-park__title Не забудьте<br> посетить
			picture.souvenirs-park__picture
				source(media="(min-width: 1280px)" srcset="static/images/content/where-to-eat/cafe-3-desktop@1x.png 1x, static/images/content/where-to-eat/cafe-3-desktop@2x.png 2x")
				img.souvenirs-park__img(src="static/images/content/where-to-eat/cafe-3-mobile@1x.png" srcset="static/images/content/where-to-eat/cafe-3-mobile@2x.png 2x" width="320" height="214" alt="Фото сувениров" loading="lazy")
			.souvenirs-park__inner
				h3.souvenirs-park__name Сувенирный магазин «Город мастеров»
				p.souvenirs-park__text Иногда бывает так приятно бросить взгляд на какой-нибудь сувенир, привезенный из поездки и сразу вспомнить путешествие и впечатления, которое его сопровождали. В магазине можно приобрести замечательные сувениры из местного мрамора, сделанные здесь же, в мастерской, колокольчики и свистульки, поделки из глины, дерева и бересты. Эти милые вещицы будут долго напоминать вам о Карелии и замечательном отдыхе в горном парке Рускеала.
				a(href="#").souvenirs-park__button.button Посмотреть сувениры