section.map
	.map__frame
		//<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A256178f6e639a60f796c659eda6e4104a116ed7f258d499a3e9e5df8e5f02593&amp;width=100%25&amp;height=587&amp;lang=ru_RU&amp;scroll=true"></script>
	.container
		.map__inner
			.map__content
				h2.map__title.section__title Как добраться
				.map__location
					+icon('icon-map-location', 'map__icon', '24', '24')
					p.map__address Ул. Мраморная, 1, п. Рускеала, Республика Карелия, Россия, 186759
				p.map__text Парк располагается в полутора километрах от посёлка Рускеала. Для упрощения навигации на дороге установлены указатели к парку.
				button.map__button.button.button--orange-transparent Больше информации
