section.map
	.map__frame
	.container
		.map__inner
			.map__content
				h2.map__title.section__title Как добраться
				.map__location
					+icon('icon-map-location', 'map__icon', '24', '24')
					p.map__address Ул. Мраморная, 1, п. Рускеала, Республика Карелия, Россия, 186759
				p.map__text Парк располагается в полутора километрах от посёлка Рускеала. Для упрощения навигации на дороге установлены указатели к парку.
				button.map__button.button.button--orange-transparent Больше информации
