section.gallery-park
	.container
		h2.gallery-park__title Фотогалерея
		.gallery-park__wrapper.swiper-container
			ul.gallery-park__list.swiper-wrapper
				li.gallery-park__item.swiper-slide
					picture.gallery-park__picture
						//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
						//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
						source(media="(min-width: 1280px)" srcset="static/images/content/about/gallery-1-desktop@1x.png 1x, static/images/content/about/gallery-1-desktop@2x.png 2x")
						img.gallery-park__img(src="static/images/content/about/gallery-1-mobile@1x.png" srcset="static/images/content/about/gallery-1-mobile@2x.png 2x" width="280" height="224" alt="Фото из галереи парка Рускеала")
				li.gallery-park__item.swiper-slide
					picture.gallery-park__picture
						//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
						//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
						source(media="(min-width: 1280px)" srcset="static/images/content/about/gallery-2-desktop@1x.png 1x, static/images/content/about/gallery-2-desktop@2x.png 2x")
						img.gallery-park__img(src="static/images/content/about/gallery-2-mobile@1x.png" srcset="static/images/content/about/gallery-2-mobile@2x.png 2x" width="280" height="224" alt="Фото из галереи парка Рускеала")
				li.gallery-park__item.swiper-slide
					picture.gallery-park__picture
						//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
						//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
						source(media="(min-width: 1280px)" srcset="static/images/content/about/gallery-3-desktop@1x.png 1x, static/images/content/about/gallery-3-desktop@2x.png 2x")
						img.gallery-park__img(src="static/images/content/about/gallery-3-mobile@1x.png" srcset="static/images/content/about/gallery-3-mobile@2x.png 2x" width="280" height="224" alt="Фото из галереи парка Рускеала")
				li.gallery-park__item.swiper-slide
					picture.gallery-park__picture
						//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
						//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
						source(media="(min-width: 1280px)" srcset="static/images/content/about/gallery-4-desktop@1x.png 1x, static/images/content/about/gallery-4-desktop@2x.png 2x")
						img.gallery-park__img(src="static/images/content/about/gallery-4-mobile@1x.png" srcset="static/images/content/about/gallery-4-mobile@2x.png 2x" width="280" height="224" alt="Фото из галереи парка Рускеала")
				li.gallery-park__item.swiper-slide
					picture.gallery-park__picture
						//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
						//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
						source(media="(min-width: 1280px)" srcset="static/images/content/about/gallery-5-desktop@1x.png 1x, static/images/content/about/gallery-5-desktop@2x.png 2x")
						img.gallery-park__img(src="static/images/content/about/gallery-5-mobile@1x.png" srcset="static/images/content/about/gallery-5-mobile@2x.png 2x" width="280" height="224" alt="Фото из галереи парка Рускеала")
				li.gallery-park__item.swiper-slide
					picture.gallery-park__picture
						//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
						//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
						source(media="(min-width: 1280px)" srcset="static/images/content/about/gallery-6-desktop@1x.png 1x, static/images/content/about/gallery-6-desktop@2x.png 2x")
						img.gallery-park__img(src="static/images/content/about/gallery-6-mobile@1x.png" srcset="static/images/content/about/gallery-6-mobile@2x.png 2x" width="280" height="224" alt="Фото из галереи парка Рускеала")
		.gallery-park__pagination
			span.gallery-park__bullet