.footer {
  .container {
    padding: 0;
  }
  flex: 0 0 auto;
  padding-bottom: 60px;
  position: relative;
  @media screen and (min-width: $desktop-size) {
    margin-top: 280px;
    padding-bottom: 146px;
  }
  &__inner {
    @media screen and (min-width: $desktop-size) {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }
}

@import "write-us";
@import "contacts";