.write-us {
  margin-bottom: 40px;
  padding: 0 20px;
  @media screen and (min-width: $desktop-size) {
    flex-basis: 48.6%;
    order: 1;
    margin-bottom: 0;
    padding: 0;
  }
  .container {
    @media screen and (min-width: $desktop-size) {
      padding: 0;
      width: auto;
      margin: 0;
    }
  }
  &__title {
    margin-bottom: 15px;
    @media screen and (min-width: $desktop-size) {
      margin-bottom: 30px;
    }
  }
  &__text {
    font-size: 13px;
    line-height: 20px;
    @media screen and (min-width: $desktop-size) {
      font-size: 15px;
      line-height: 20px;
      margin-bottom: 40px;
    }
    @media screen and (min-width: $large-size) {
      font-size: 22px;
      line-height: 32px;
    }
  }
}

.write-form {
  &__top {
    @media screen and (min-width: $desktop-size) {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 23px;
    }
  }
  &__field {
    position: relative;
    @media screen and (min-width: $desktop-size) {
      width: 47%;
    }
    &--textarea {
      @media screen and (min-width: $desktop-size) {
        width: 100%;
      }
    }
  }
  &__icon {
    fill: $icon-light-grey-color;
    position: absolute;
    top: calc(50% - 2px);
    transform: translateY(-50%);
    &--message { top: 26px; }
  }
  &__input {
    color: $black;
    border: none;
    border-bottom: 2px solid $border-grey-color;
    font-weight: 700;
    padding: 15px 20px 15px 34px;
    width: 100%;
    &::placeholder {
      color: $placeholder-grey-color;
    }
    &--textarea {
      height: 56px;
      min-height: 56px;
      resize: vertical;
    }
  }
  &__bottom {
    margin-top: 15px;
    @media screen and (min-width: $desktop-size) {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
    }
  }
  &__consent {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 15px;
    @media screen and (min-width: $desktop-size) {
      //font-size: 15px;
      //line-height: 24px;
      margin-bottom: 0;
      flex-basis: 47%;
    }
    @media screen and (min-width: $large-size) {
      font-size: 15px;
      line-height: 24px;
    }
  }
  &__send {
    width: 100%;
    @media screen and (min-width: $desktop-size) {
      flex-basis: 47%;
      padding: 20px 35px;
    }
  }
}