.entertainment {
  .container {
    padding-right: 0;
  }
  margin-bottom: 60px;
  @media screen and (min-width: $desktop-size) {
    margin-bottom: 180px;
  }
  &__title {
    margin-bottom: 20px;
    @media screen and (min-width: $desktop-size) {
      font-size: 40px;
      line-height: 49px;
      margin-bottom: 60px;
    }
    @media screen and (min-width: $large-size) {
      font-size: 80px;
      line-height: 98px;
    }
  }
  &__list {
    @media screen and (min-width: $desktop-size) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 80px;
    }
  }
  &__item {
    &--enter-park {
      background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/enter-park-entertainment-mobile1x.png") no-repeat center;
      background-size: cover;
      @media screen and (-webkit-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/enter-park-entertainment-mobile2x.png") no-repeat center;
        background-size: cover;
      }
      @media screen and (min-width: $desktop-size) {
        background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/enter-park-entertainment-desktop1x.png") no-repeat center;
        background-size: cover;
        @media screen and (-webkit-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
          background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/enter-park-entertainment-desktop2x.png") no-repeat center;
          background-size: cover;
        }
      }
    }
    &--boat-trip-lake {
      background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/boat-trip-lake-entertainment-mobile1x.png") no-repeat center;
      background-size: cover;
      @media screen and (-webkit-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/boat-trip-lake-entertainment-mobile2x.png") no-repeat center;
        background-size: cover;
      }
      @media screen and (min-width: $desktop-size) {
        background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/boat-trip-lake-entertainment-desktop1x.png") no-repeat center;
        background-size: cover;
        @media screen and (-webkit-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
          background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/boat-trip-lake-entertainment-desktop2x.png") no-repeat center;
          background-size: cover;
        }
      }
    }
    &--boat-trip-plot {
      background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/boat-trip-plot-entertainment-mobile1x.png") no-repeat center;
      background-size: cover;
      @media screen and (-webkit-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/boat-trip-plot-entertainment-mobile2x.png") no-repeat center;
        background-size: cover;
      }
      @media screen and (min-width: $desktop-size) {
        background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/boat-trip-plot-entertainment-desktop1x.png") no-repeat center;
        background-size: cover;
        @media screen and (-webkit-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
          background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/boat-trip-plot-entertainment-desktop2x.png") no-repeat center;
          background-size: cover;
        }
      }
    }
    &--exposition {
      background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/exposition-entertainment-mobile1x.png") no-repeat center;
      background-size: cover;
      @media screen and (-webkit-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/exposition-entertainment-mobile2x.png") no-repeat center;
        background-size: cover;
      }
      @media screen and (min-width: $desktop-size) {
        background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/exposition-entertainment-desktop1x.png") no-repeat center;
        background-size: cover;
        @media screen and (-webkit-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
          background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/exposition-entertainment-desktop2x.png") no-repeat center;
          background-size: cover;
        }
      }
    }
    &--trolley {
      background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/trolley-entertainment-mobile1x.png") no-repeat center;
      background-size: cover;
      @media screen and (-webkit-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/trolley-entertainment-mobile2x.png") no-repeat center;
        background-size: cover;
      }
      @media screen and (min-width: $desktop-size) {
        background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/trolley-entertainment-desktop1x.png") no-repeat center;
        background-size: cover;
        @media screen and (-webkit-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
          background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/trolley-entertainment-desktop2x.png") no-repeat center;
          background-size: cover;
        }
      }
    }
    &--secret-paths {
      background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/secret-paths-entertainment-mobile1x.png") no-repeat center;
      background-size: cover;
      @media screen and (-webkit-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/secret-paths-entertainment-mobile2x.png") no-repeat center;
        background-size: cover;
      }
      @media screen and (min-width: $desktop-size) {
        background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/secret-paths-entertainment-desktop1x.png") no-repeat center;
        background-size: cover;
        @media screen and (-webkit-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
          background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/secret-paths-entertainment-desktop2x.png") no-repeat center;
          background-size: cover;
        }
      }
    }
    &:hover {
      .index-page__more {
        @media screen and (min-width: $desktop-size) {
          opacity: 1;
          pointer-events: all;
        }
      }
    }
    @media screen and (min-width: $desktop-size) {
      &:nth-child(-n+3) {
        margin-bottom: 2%;
      }
      &:not(:nth-child(3)):not(:last-child) {
        margin-right: 18px;
      }
    }
  }
  &__button {
    background-color: $button-light-blue-color;
  }
  &__more {
    display: none;
    @media screen and (min-width: $desktop-size) {
      display: inline-block;
      padding: 20px 35px;
      text-decoration: none;
    }
  }
}