.excursions-index {
  margin-bottom: 60px;
  @media screen and (min-width: $desktop-size) {
    margin-bottom: 170px;
  }
  .container { padding-right: 0; }
  &__title {
    margin-bottom: 20px;
    @media screen and (min-width: $desktop-size) {
      margin-bottom: 60px;
    }
    @media screen and (min-width: $large-size) {
      font-size: 80px;
      line-height: 98px;
    }
  }
  &__list {
    @media screen and (min-width: $desktop-size) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__item {
    &--canyon {
      background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/marble-canyon-ecsrur-mobile1x.png") no-repeat center;
      background-size: cover;
      @media screen and (-webkit-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/marble-canyon-ecsrur-mobile2x.png") no-repeat center;
        background-size: cover;
      }
      @media screen and (min-width: $desktop-size) {
        background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/marble-canyon-ecsrur-desktop1x.png");
        background-size: cover;
        @media screen and (-webkit-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
          background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/marble-canyon-ecsrur-desktop2x.png") no-repeat center;
          background-size: cover;
        }
      }
    }
    &--mining {
      background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/mining-masters-ecsrur-mobile1x.png") no-repeat center;
      background-size: cover;
      @media screen and (-webkit-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/mining-masters-ecsrur-mobile2x.png") no-repeat center;
        background-size: cover;
      }
      @media screen and (min-width: $desktop-size) {
        background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/mining-masters-ecsrur-desktop1x.png") no-repeat center;
        background-size: cover;
        @media screen and (-webkit-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
          background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/mining-masters-ecsrur-desktop2x.png") no-repeat center;
          background-size: cover;
        }
      }
    }
    &--under {
      background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/under-ruskeala-ecsrur-mobile1x.png") no-repeat center;
      background-size: cover;
      @media screen and (-webkit-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/under-ruskeala-ecsrur-mobile2x.png") no-repeat center;
        background-size: cover;
      }
      @media screen and (min-width: $desktop-size) {
        background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/under-ruskeala-ecsrur-desktop1x.png") no-repeat center;
        background-size: cover;
        @media screen and (-webkit-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
          background: linear-gradient(0deg, rgba(2, 25, 43, 0.5) 0%, rgba(16, 13, 1, 0) 71.17%), url("../images/content/under-ruskeala-ecsrur-desktop2x.png") no-repeat center;
          background-size: cover;
        }
      }
    }
    @media screen and (min-width: $desktop-size) {
      &:not(:last-child) { margin-right: 18px; }
    }
    &:hover {
      .index-page__more {
        @media screen and (min-width: $desktop-size) {
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }
  &__button {
    background-color: $green-light-color;
  }
}