.our-partners {
  margin-bottom: 80px;
  @media screen and (min-width: $desktop-size) {
    margin-bottom: 0;
  }
  &__title {
    margin-bottom: 40px;
  }
  &__list {
    margin-bottom: 40px;
  }
  &__item {
    @media screen and (min-width: $desktop-size) {
      width: auto;
    }
  }
  &__img {
    margin: 0 auto;
    @media screen and (min-width: $desktop-size) {
      height: 200px;
      width: 325px;
    }
  }
  &__pagination {
    display: flex;
    justify-content: center;
    .swiper-pagination-bullet {
      background: $grey-color;
      height: 15px;
      opacity: 1;
      width: 15px;
      &:not(:last-child) { margin-right: 30px; }
    }
    .swiper-pagination-bullet-active {
      background-color: $bg-dark-red;
    }
  }
}