.piipun-hotel {
  margin-bottom: 70px;
  @media screen and (min-width: $desktop-size) {
    margin-bottom: 140px;
  }
  &__content {
    @media screen and (min-width: 1500px) { padding: 5% 0; }
    @media screen and (min-width: 1700px) { padding: 6% 0; }
    @media screen and (min-width: $large-size) { padding: 7% 0; }
  }
  &__picture {
    display: block;
    height: auto;
    padding: 0 20px;
    @media screen and (min-width: $desktop-size) {
      padding: 0;
    }
  }
  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
    @media screen and (min-width: $desktop-size) {
      height: auto;
      max-width: 48.698%;
      margin-bottom: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__inner {
    @media screen and (min-width: $desktop-size) {
      width: 41%;
    }
  }
  &__icon {
    display: none;
    @media screen and (min-width: $desktop-size) {
      display: block;
      fill: transparent;
      margin-bottom: 30px;
      stroke: $icon-color;
      stroke-width: 8px;
      stroke-linecap: round;
    }
  }
  &__subtitle {
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    margin-bottom: 10px;
    @media screen and (min-width: $desktop-size) {
      font-size: 20px;
      line-height: 24px;
    }
  }
  &__title {
    font-size: 35px;
    line-height: 43px;
    margin-bottom: 20px;
    @media screen and (min-width: $desktop-size) {
      font-size: 57px;
      line-height: 73px;
      margin-bottom: 30px;
    }
  }
  &__text {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 20px;
    @media screen and (min-width: $desktop-size) {
      font-size: 18px;
      font-weight: 300;
      line-height: 28px;
      margin-bottom: 30px;
    }
  }
  &__button {
    width: 100%;
    @media screen and (min-width: $desktop-size) {
      width: auto;
    }
  }
}