.piipun-hotel {
  margin-bottom: 70px;
  @media screen and (min-width: $desktop-size) {
    display: flex;
    overflow: hidden;
    margin-bottom: 140px;
  }

  &__content {
    @media screen and (min-width: $desktop-size) {
      align-items: center;
      display: flex;
      flex: 0 0 100%;
    }
  }
  &__picture {
    margin-bottom: 2px;
    padding: 0 20px;
    @media screen and (min-width: $desktop-size) {
      flex: 0 0 48.698%;
      margin-bottom: 0;
      order: 2;
      padding: 0 0 42.73% 0;
      position: relative;
      transform: translateX(-100%);
    }
  }
  &__img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    @media screen and (min-width: $desktop-size) {
      height: 100%;
      left: 0; 
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
  &__inner {
    @media screen and (min-width: $desktop-size) {
      width: 41%;
    }
  }
  &__icon {
    display: none;
    @media screen and (min-width: $desktop-size) {
      display: block;
      fill: transparent;
      margin-bottom: 30px;
      stroke: $icon-color;
      stroke-width: 8px;
      stroke-linecap: round;
    }
  }
  &__subtitle {
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    margin-bottom: 10px;
    @media screen and (min-width: $desktop-size) {
      font-size: 20px;
      line-height: 24px;
    }
  }
  &__title {
    font-size: 35px;
    line-height: 43px;
    margin-bottom: 20px;
    @media screen and (min-width: $desktop-size) {
      font-size: 57px;
      line-height: 73px;
      margin-bottom: 30px;
    }
  }
  &__text {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 20px;
    @media screen and (min-width: $desktop-size) {
      font-size: 18px;
      font-weight: 300;
      line-height: 28px;
      margin-bottom: 30px;
    }
  }
  &__button {
    display: inline-block;
    width: 100%;
    @media screen and (min-width: $desktop-size) {
      width: auto;
    }
  }
}