include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" type='text/css' href="static/css/styles.css")
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsImbyX3XiB5qJb02e3lp2ELmM6UHKda4&callback=initMap&libraries=&v=weekly" defer)
	body
		.wrapper
			include ../modules/header/header
			.content
				block content
			include ../modules/footer/footer
		.modal
			include ../modules/modals/enterTicket/enterTicket
			if pageClass === 'excursions-page'
				include ../modules/modals/excursionsTicket/excursions-ticket
				include ../modules/modals/excursions/excursions-additionally
				include ../modules/modals/excursions/excursions-route
			if pageClass === "entertainment-page"
				include ../modules/modals/entertainment-read-more/entertainment-read-more
			if pageClass === "eat-page"
				include ../modules/modals/food/menu
		//script(src="static/js/vendor/jquery-3.3.1.min.js")
		block script
			script(src="static/js/libs.js")
			script(src="static/js/main.js")
			if pageClass === 'index-page'
				script(src="static/js/index.js")
			if pageClass === 'excursions-page'
				script(src="static/js/excursions.js")
			if pageClass === 'entertainment-page'
				script(src="static/js/entertainment.js")
			if pageClass === 'about-page'
				script(src="static/js/about.js")
			if pageClass === 'hotel-page'
				script(src="static/js/hotel.js")
