include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="preload" href="static/fonts/montserrat/montserratbold/Montserrat-Bold.woff2" as="font" crossorigin="anonymous")
		link(rel="preload" href="static/fonts/montserrat/montserratblack/Montserrat-Black.woff2" as="font" crossorigin="anonymous")
		link(rel="preload" href="static/fonts/montserrat/montserratextrabold/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous")
		link(rel="preload" href="static/fonts/montserrat/montserratmedium/Montserrat-Medium.woff2" as="font" crossorigin="anonymous")
		link(rel="preload" href="static/fonts/montserrat/montserratregular/Montserrat-Regular.woff2" as="font" crossorigin="anonymous")
		link(rel="preload" href="static/fonts/montserrat/montserratsemibold/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous")
		link(rel="stylesheet" type='text/css' href="static/css/styles.css")
	body
		.wrapper
			include ../modules/header/header
			.content
				block content
			include ../modules/footer/footer
		.modal
			include ../modules/modals/enterTicket/enterTicket
			if pageClass === 'excursions-page'
				include ../modules/modals/excursionsTicket/excursions-ticket
				include ../modules/modals/excursions/excursions-additionally
				include ../modules/modals/excursions/excursions-route
				include ../modules/modals/interactive-map/interactive-map
			if pageClass === "entertainment-page"
				include ../modules/modals/entertainment-read-more/entertainment-read-more
				include ../modules/modals/excursions/excursions-additionally
				include ../modules/modals/excursionsTicket/excursions-ticket
			if pageClass === "eat-page"
				include ../modules/modals/food/menu-ruskolka
				include ../modules/modals/food/menu-burgers
			if pageClass === "hotel-page"
				include ../modules/modals/hotel/reserved-room
			if pageClass === "tours-page"
				include ../modules/modals/tours/tour-description
				include ../modules/modals/tours/tour-reserved
		block script
			script(src="static/js/libs.js" defer)
			script(src="static/js/main.js" defer)
			script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsImbyX3XiB5qJb02e3lp2ELmM6UHKda4&callback=initMap&libraries=&v=weekly" defer)
			if pageClass === 'index-page'
				script(src="static/js/index.js" defer)
			if pageClass === 'excursions-page'
				script(src="static/js/excursions.js" defer)
			if pageClass === 'entertainment-page'
				script(src="static/js/entertainment.js" defer)
			if pageClass === 'about-page'
				script(src="static/js/about.js" defer)
			if pageClass === 'eat-page'
				script(src="static/js/where-to-eat.js" defer)
			if pageClass === 'hotel-page'
				script(src="static/js/hotel.js" defer)
			if pageClass === 'tours-page'
				script(src="static/js/tours.js" defer)
			if pageClass === 'partners-page'
				script(src="static/js/partners.js" defer)
			if pageClass === 'opening-time-page'
				script(src="static/js/opening-time.js" defer)
			if pageClass === 'road-page'
				script(src="static/js/road.js" defer)
