.enter-ticket {
  background-color: $white;
  bottom: 0;
  height: 0;
  overflow: hidden;
  left: 0;
  padding-top: 40px;
  position: fixed;
  pointer-events: none;
  transform: translate(0, -100%);
  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1) 0s;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 6;
  @media screen and (min-width: $desktop-size) {
    display: flex;
    padding: 0;
  }
  &--open {
    height: 100vh;
    overflow: auto;
    pointer-events: all;
    transform: translate(0, 0);
  }
  &__inner {
    @media screen and (min-width: $desktop-size) {
      align-items: center;
      display: flex;
      flex-basis: 50%;
      justify-content: center;
      padding: 10%;
    }
  }
  &__form {
    background: url("../images/common/confirm-form-bg1x.png") no-repeat center right;
    background-size: cover;
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      background-image: url("../images/common/confirm-form-bg2x.png");
    }
    @media screen and (min-width: $desktop-size) {
      align-items: center;
      background-image: url("../images/common/confirm-form-bg-desktop1x.png");
      display: flex;
      flex-basis: 50%;
      justify-content: center;
      @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1),
      only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        background-image: url("../images/common/confirm-form-bg-desktop2x.png");
      }
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 27px;
    padding: 0 20px;
    @media screen and (min-width: $desktop-size) {
      margin: 0;
      min-width: 470px;
      padding: 0;
    }
  }
  &__close {
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 0;
    @media screen and (min-width: $desktop-size) {
      fill: $white;
      right: 60px;
      top: 60px;
    }
    &:hover {
      svg { opacity: 0.7; }
    }
  }
  &__title {
    color: $light-black-color;
    font-weight: 900;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 20px;
    @media screen and (min-width: $desktop-size) {
      font-size: 40px;
      line-height: 49px;
      margin-bottom: 28px;
    }
  }
  &__date-wrap {
    @media screen and (min-width: $desktop-size) {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
    }
  }
  &__selected-date {
    display: inline-block;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 10px;
    @media screen and (min-width: $desktop-size) {
      font-size: 25px;
      line-height: 30px;
    }
    &--park {
      @media screen and (min-width: $desktop-size) { margin-bottom: 0; }
    }
  }
  &__day {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    &--park {
      @media screen and (min-width: $desktop-size) {
        margin-bottom: 0;
      }
    }
  }
  &__datepicker {
    &--park {
      @media screen and (min-width: $desktop-size) {
        width: 165px;
      }
    }
  }
  &__table {
    margin-bottom: 20px;
    @media screen and (min-width: $desktop-size) { margin-bottom: 30px; }
  }
  &__total {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 25px;
    @media screen and (min-width: $desktop-size) {
      font-size: 30px;
      line-height: 36px;
      text-align: right;
    }
  }
  &__accept {
    align-items: center;
    display: flex;
  }
  &__checkbox {
    @include confirm-checkbox-label($black, $orange-dark-color, 500, 14+px);
  }
  &__checkbox:checked+label::before {
    @include confirm-checkbox-checked("../images/common/icon-checked.svg", "13px 11px");
  }
  &__checkbox:not(:disabled)+label:hover::before {
    opacity: 0.8;
  }
}

.select-ticket {
  display: flex;
  flex-direction: column;
  &__row {
    align-items: center;
    border-bottom: 1px solid $border-light-grey-color;
    color: $black;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    @media screen and (min-width: $desktop-size) {
      flex-wrap: nowrap;
      padding-bottom: 16px;
    }
    &:not(:last-child) {
      margin-bottom: 10px;
      @media screen and (min-width: $desktop-size) {
        margin-bottom: 15px;
      }
    }
  }
  &__left {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $desktop-size) {
      align-items: center;
      flex-direction: row;
      flex-grow: 1;
      justify-content: space-between;
      padding-right: 33px;
    }
  }
  &__right {
    align-items: center;
    display: flex;
  }
  &__age {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 5px;
    @media screen and (min-width: $desktop-size) {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 0;
    }
  }
  &__price {
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    @media screen and (min-width: $desktop-size) {
      font-size: 20px;
      line-height: 24px;
    }
  }
  &__button {
    background-color: $border-light-grey-color;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    padding: 0;
    position: relative;
    width: 40px;
    &::before {
      background-color: $black;
      content: "";
      height: 2px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 16px;
    }
    &--plus::after {
      background-color: $black;
      content: "";
      height: 16px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 2px;
    }
  }
  &__current {
    padding: 0 14px;
  }
}

@import "time-select/time-select";
@import "form-confirm/form-confirm";