.post-page {
  .breadcrumbs__text {
    display: none;
    @media screen and (min-width: $desktop-size) {
      display: block;
    }
  }
  .map {
    @media screen and (min-width: $desktop-size) {
      margin-bottom: 0;
    }
  }
}

.post {
  margin-bottom: 60px;
  @media screen and (min-width: $desktop-size) {
    margin-bottom: 160px;
  }
  .container {
    padding: 0;
  }
  .post__top {
    margin-bottom: 40px;
    position: relative;
    p {
      font-size: 18px;
      line-height: 28px;
      @media screen and (min-width: $desktop-size) {
        line-height: 30px;
        width: 48.5%;
      }
    }
  }
  ul {
    font-size: 14px;
    line-height: 22px;
    padding: 0 20px;
  }
  ul li {
    padding-left: 27px;
    position: relative;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 30px;
    }
  }
  ul li::after {
    background-color: $black;
    border-radius: 50%;
    content: '';
    height: 8px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 8px;
  }
  h1 {
    font-size: 22px;
    font-weight: 900;
    line-height: 27px;
    margin-bottom: 20px;
    padding: 0 20px;
    @media screen and (min-width: $desktop-size) {
      font-size: 60px;
      line-height: 73px;
      margin-bottom: 40px;
      padding: 20px 0 0 0;
    }
  }
  b {
    color: $text-color-grey;
    display: block;
    font-size: 15px;
    font-weight: 900;
    line-height: 18px;
    margin-bottom: 20px;
    padding: 0 20px;
    @media screen and (min-width: $desktop-size) {
      font-size: 25px;
      line-height: 30px;
      padding: 0;
      position: absolute;
      right: 0;
      text-align: right;
      top: 0;
      width: 20%;
    }
  }
  h2 {
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    margin-bottom: 10px;
    padding: 0 20px;
    @media screen and (min-width: $desktop-size) {
      font-size: 40px;
      line-height: 49px;
      margin-bottom: 30px;
      padding: 0;
    }
  }
  p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
    padding: 0 20px;
    @media screen and (min-width: $desktop-size) {
      font-size: 16px;
      line-height: 30px;
      padding: 0;
    }
  }
  img {
    margin-bottom: 40px;
    object-fit: cover;
    width: 100%;
    @media screen and (min-width: $desktop-size) {
      width: auto;
      margin: 0 auto 40px;
    }
  }
  iframe {
    margin-bottom: 40px;
    padding: 0 20px;
    @media screen and (min-width: $desktop-size) {
      padding: 0;
    }
  }
}
