.tour-price
    .container
        h2.tour-price__title Стоимость тура
        .tour-price__slider.swiper-container
            ul.tour-price__list.swiper-wrapper
                li.tour-price__item.swiper-slide
                    h3.tour-price__name Цены на тур с размещением в отелях категории "Комфорт"
                    .tour-price__box
                        span.tour-price__desc Место в двухместном номере
                        span.tour-price__price 6 150 Р
                    .tour-price__box
                        span.tour-price__desc Одноместное размещение
                        span.tour-price__price 7 550 Р
                    .tour-price__box
                        span.tour-price__desc Третье место в номере
                        span.tour-price__price 6 050 Р
                    a.button.tour-price__link(href="#") Забронировать
                li.tour-price__item.swiper-slide
                    h3.tour-price__name Цены на тур с размещением в отелях категории "Премиум"
                    .tour-price__box
                        span.tour-price__desc Место в двухместном номере
                        span.tour-price__price 6 150 Р
                    .tour-price__box
                        span.tour-price__desc Одноместное размещение
                        span.tour-price__price 7 550 Р
                    .tour-price__box
                        span.tour-price__desc Третье место в номере
                        span.tour-price__price 6 050 Р
                    a.button.tour-price__link(href="#") Забронировать
                li.tour-price__item.swiper-slide
                    h3.tour-price__name Цены на тур с размещением в отелях категории "Премиум Плюс"
                    .tour-price__box
                        span.tour-price__desc Место в двухместном номере
                        span.tour-price__price 6 150 Р
                    .tour-price__box
                        span.tour-price__desc Одноместное размещение
                        span.tour-price__price 7 550 Р
                    .tour-price__box
                        span.tour-price__desc Третье место в номере
                        span.tour-price__price 6 050 Р
                    a.button.tour-price__link(href="#") Забронировать
        p.tour-price__note Нажимая кнопку <b>"Забронировать"</b> вы будете перенаправлены на сайт партнёра парка - компанию "СканТур".
    .tour-price__bottom
        .container
            .tour-price__text
                p.tour-price__scan-tour Услуга предоставляется ООО "СканТур" (ИНН 7811511880 КПП 781001001 ОГРН 1127847050693 РТО 019135). <br>Физический и юридический адрес: 191317, Санкт-Петербург, пл. Александра Невского 2, офис 806. <br>Контактный телефон: +7 (812) 607-64-63. Сайт компании: scantour.ru
                p.tour-price__attention <b>Важно!</b> В программе указано ориентировочное время. Актуальное время посещения объектов может меняться в зависимости от дорожных и погодных условий. Туроператор вправе изменить порядок посещения объектов без изменения общего объема оказываемых услуг.
        picture.tour-price__picture
            source(media="(min-width: 1280px)" srcset="static/images/content/tours/skan-tour-desktop@1x.png 1x, static/images/content/tours/skan-tour-desktop@2x.png 2x")
            img.tour-price__img(src="static/images/content/tours/skan-tour-mobile@1x.png" srcset="static/images/content/tours/skan-tour-mobile@2x.png 2x" width="298" height="142" alt="Логотип СканТур" loading="lazy")