section.park-rules
  .container
    h1.park-rules__title Правила парка
  picture.partners__picture
    source(media="(min-width: 1280px)" srcset="static/images/content/rules-desktop@1x.png 1x, static/images/content/rules-desktop@2x.png 2x")
    img.partners__img(src="static/images/content/rules-mobile@1x.png" srcset="static/images/content/rules-mobile@2x.png 2x" width="320" height="320" alt="Правила парка" loading="lazy")
  .container
    ul.park-rules__list.rules-list
      li.rules-list__item
        .rules-list__inner
          +icon('icon-trash', 'rules-list__icon', '80', '80')
        p.rules-list__text Просим вас бережно относиться к природе в парке. Если все посетители будут выбрасывать мусор в урны, поддерживать чистоту, не портить художественное оформление парка, здания, детскую площадку и в целом вести себя цивилизованно — нам всем будет приятнее в нем находиться.
      li.rules-list__item
        .rules-list__inner
          +icon('icon-dog', 'rules-list__icon', '80', '80')
        p.rules-list__text Мы с симпатией относимся ко всему живому, и к домашним животным в том числе. Парк можно посещать с питомцем при наличии поводка и намордника. Но в кафе, на водные прогулки и экскурсию «Подземная Рускеала» с ними нельзя.
      li.rules-list__item
        .rules-list__inner
          +icon('icon-rock', 'rules-list__icon', '80', '80')
        p.rules-list__text Не бросайте камни и различные предметы вниз при подъеме, спуске и на вершине скал. Вы можете нанести увечья людям, находящимся внизу.
      li.rules-list__item
        .rules-list__inner
          +icon('icon-fances', 'rules-list__icon', '80', '80')
        p.rules-list__text Лучшее селфи можно сделать на обзорных площадках. Но выходить за ограждения запрещено. Пожалуйста, передвигайтесь в парке только по специально проложенным дорожкам и берегите свою жизнь!
      li.rules-list__item
        .rules-list__inner
          +icon('icon-smoke', 'rules-list__icon', '80', '80')
        p.rules-list__text В «Рускеала» вы можете прокатиться на тролее, посетить грот или отправиться на водную прогулку, но курить и распивать алкоголь в парке нельзя.
      li.rules-list__item
        .rules-list__inner
          +icon('icon-swim', 'rules-list__icon', '80', '80')
        p.rules-list__text У прудов и реки приятно любоваться природой и слушать пение птиц. А купаться в них запрещено.
      li.rules-list__item
        .rules-list__inner
          +icon('icon-paint', 'rules-list__icon', '80', '80')
        p.rules-list__text Пожалуйста, ничего не сливайте и не бросайте в природные водоемы. Не делайте надписей на камнях и деревьях, памятниках истории и культуры, стендах, сводах и указателях. Если вам хочется оставить память о себе, пожалуйста, сделайте это в нашей книге отзывов.
      li.rules-list__item
        .rules-list__inner
          +icon('icon-fire', 'rules-list__icon', '80', '80')
        p.rules-list__text Мы очень любим барбекю, и все желающие могут попробовать несколько видов мяса в гриль-баре. Но разводить костры на территории парка запрещено. Пожалуйста, соблюдайте правила пожарной безопасности.
      li.rules-list__item
        .rules-list__inner
          +icon('icon-gear', 'rules-list__icon', '80', '80')
        p.rules-list__text Детская площадка прослужит дольше, если на ней будут играть только дети — у оборудования есть ограничения по весу. Если на площадке много людей — дождитесь своей очереди, это не займет много времени. И вперед лучше пропустить маленьких детей — пускай они поиграют первыми.
      li.rules-list__item
        .rules-list__inner
          +icon('icon-speaker', 'rules-list__icon', '80', '80')
        p.rules-list__text Мы очень бережно относимся ко всему живому и очень надеемся, что вы солидарны с нами. Пожалуйста, не беспокойте каким-либо образом обитающих под землей животных, например летучих мышей и насекомых. Они очень болезненно переносят громкие звуки и излишнее внимание.
      li.rules-list__item
        .rules-list__inner
          +icon('icon-child', 'rules-list__icon', '80', '80')
        p.rules-list__text «Рускеала» нельзя назвать маленьким местом, парк занимает площадь 32 гектара с общей протяжённостью тропинок более 15 километров. Пожалуйста не оставляйте детей без присмотра и не отпускайте их самостоятельно на водные прогулки.
      li.rules-list__item
        .rules-list__inner
          +icon('icon-certificate', 'rules-list__icon', '80', '80')
        p.rules-list__text Все любят праздники, но, чтобы всё прошло хорошо, а гости остались довольны все мероприятия обязательно должны быть согласованы с администрацией парка.
      li.rules-list__item
        .rules-list__inner
          +icon('icon-ice-skate', 'rules-list__icon', '80', '80')
        p.rules-list__text В холодное время года, в мраморном каньоне, вы можете любоваться художественной подсветкой со специально оборудованных тропинок и обзорных площадок. Но выходить на лёд запрещено.
    p.park-rules__note Соблюдение правил парка — это не только доброе дело, но и вопрос финансов, а иногда и личной свободы. Их нарушение грозит серьезными неприятностями — штрафами и административными наказаниями по федеральным и карельским законам:
    ul.park-rules__penalty.penalty-list
      li.penalty-list__item
        p.penalty-list__text За разведение костров, использование мангалов и прочие игры с огнем — от 3000 до 4000 рублей.
      li.penalty-list__item
        p.penalty-list__text За употребление алкоголя и курение — от 500 до 1500 рублей. А если кому-то придет в голову курить на детских площадках, придется и вовсе заплатить от 2000 до 3000 рублей.
      li.penalty-list__item
        p.penalty-list__text За употребление наркотических веществ без назначения врача — от 4000 до 5000 рублей, а иногда и административный арест до 15 суток.
      li.penalty-list__item
        p.penalty-list__text За нарушение общественного порядка, оскорбления посетителей и работников парка, порчу чужого имущества и прочие безобразия — от 500 до 1000 рублей или административный арест до 15 суток.
      li.penalty-list__item
        p.penalty-list__text И сопротивление тут бесполезно — неповиновение представителям власти тоже наказывается штрафом от 1000 до 2500 рублей или арестом на срок до 15 суток.
      li.penalty-list__item
        p.penalty-list__text За купание в водоемах — от 2000 до 2500 рублей.
    ul.files-partners__list
      li.files-partners__item
        +icon('icon-pdf-file', 'files-partners__icon', '40', '50')
        p.files-partners__name Полный текст правила горного парка Рускеала #[span.files-partners__size 120 Kb]
        a.files-partners__link.button(href="static/files/park_rules_2021_v1.pdf" download) Скачать
      li.files-partners__item
        +icon('icon-pdf-file', 'files-partners__icon', '40', '50')
        p.files-partners__name Форма заявления на возврат денежных средств #[span.files-partners__size 60 Kb]
        a.files-partners__link.button(href="static/files/refund_form_v7_4_online.pdf" download) Скачать
      li.files-partners__item
        +icon('icon-pdf-file', 'files-partners__icon', '40', '50')
        p.files-partners__name Форма заявления на возврат денежных средств по техническим причинам #[span.files-partners__size 500 Kb]
        a.files-partners__link.button(href="static/files/refund_form_v7_4_tech_reasons.pdf" download) Скачать