extends layout/main

block variables
	-var title = 'Гостиница в парке Рускеала'
	-var pageClass = 'hotel-page'

block content
	main(class=pageClass)
		include pages/hotel-page/hotel-page
		include modules/map/map