extends layout/main

block variables
	-var title = 'Часы работы'
	-var pageClass = 'opening-time-page'

block content
	main(class=pageClass)
		include modules/breadcrumbs/breadcrumbs
		include pages/open-time/open-time
		include modules/map/map