// Colors
$border-grey-color: #d3d3d3;
$border-light-grey-color: #f0f0f0;
$border-middle-grey-color: #dadce0;
$border-dark-grey-color: #e0e0e0;
$border-black-grey-color: #c4c4c4;
$button-light-blue-color: #3a8bad;
$bg-grey-color: #ececec;
$bg-black-color: #0a191f;
$bg-dark-red: #c84708;
$black: #000000;
$black-color-middle: #3c4043;
$black-green-color: #31515c;
$blue-color: #80b0f6;
$fb-color: #1876f2;
$grey-color: #7d7d7d;
$green-color: #3abd47;
$green-light-color: #4aac5f;
$icon-light-grey-color: #d2d2d2;
$input-color: #84a0aa;
$inst-color: #e83663;
$light-black-color: #3e3e3e;
$light-grey-color: #b6b6b6;
$orange-color: #e2530d;
$orange-light-color: #ff6a21;
$orange-dark-color: #e25b19;
$orange-active-color: #d15011;
$placeholder-grey-color: #b2b2b2;
$red-color: #ff4d00;
$red-dark-color: #ff4f4f;
$text-color-grey: #9f9f9f;
$text-color-dark-grey: #a3a3a3;
$tripadvisor-color: #27C78c;
$vk-color: #4a76a8;
$white: #ffffff;
$yellow-light-color: #ffd56a;
$yellow-color: #fcbb15;

// Sizes
$base-font-size: 16px;

$tablet: 768;
$large: 1024;
$desktop: 1280;

$content: 1000px;

// Fonts

$base-font: 'Montserrat', sans-serif;