section.news
  .container
    h1.news__title Новости парка
    ul.news__list
      li.news__item
        span.news__date 18.12.2020
        picture.news__picture
          source(media="(min-width: 1280px)" srcset="static/images/content/news/news-1-desktop@1x.png 1x, static/images/content/news/news-1-desktop@2x.png 2x")
          img.news__img(src="static/images/content/news/news-1-mobile@1x.png" srcset="static/images/content/news/news-1-mobile@2x.png 2x" width="260" height="160" alt="Сезон новогодних каникул" loading="lazy")
        .news__inner
          h2.news__head Сезон новогодних каникул
          p.news__text Уважаемые гости! Приглашаем Вас в Горный парк «Рускеала», чтобы пройтись по заснеженным тропинкам, вдохнуть морозного воздуха и насладиться волшебной карельской природой. В сезон новогодних каникул мы готовимся принять в Рускеала большое количество гостей.
      li.news__item
        span.news__date 10.12.2020
        picture.news__picture
          source(media="(min-width: 1280px)" srcset="static/images/content/news/news-2-desktop@1x.png 1x, static/images/content/news/news-2-desktop@2x.png 2x")
          img.news__img(src="static/images/content/news/news-2-mobile@1x.png" srcset="static/images/content/news/news-2-mobile@2x.png 2x" width="260" height="160" alt="Сезон новогодних каникул" loading="lazy")
        .news__inner
          h2.news__head Горный парк «Рускеала»: сотрудничество с карельскими учёными продолжается
          p.news__text На днях в Горном парке «Рускеала» состоялась рабочая встреча, на которой подводились итоги и намечались перспективы сотрудничества команды по развитию парка и представителей Карельского научного центра РАН.
      li.news__item
        span.news__date 10.11.2020
        picture.news__picture
          source(media="(min-width: 1280px)" srcset="static/images/content/news/news-3-desktop@1x.png 1x, static/images/content/news/news-3-desktop@2x.png 2x")
          img.news__img(src="static/images/content/news/news-3-mobile@1x.png" srcset="static/images/content/news/news-3-mobile@2x.png 2x" width="260" height="160" alt="Сезон новогодних каникул" loading="lazy")
        .news__inner
          h2.news__head Горный Парк «Рускеала» получил «бронзу» в международной премии World Travel Awards
          p.news__text Недавно были подведены итоги премии, в которой Горный парк «Рускеала» был соискателем в номинации «Ответственный туризм в Европе». Победители были определены путем открытого голосования. 
      li.news__item
        span.news__date 03.11.2020
        picture.news__picture
          source(media="(min-width: 1280px)" srcset="static/images/content/news/news-4-desktop@1x.png 1x, static/images/content/news/news-4-desktop@2x.png 2x")
          img.news__img(src="static/images/content/news/news-4-mobile@1x.png" srcset="static/images/content/news/news-4-mobile@2x.png 2x" width="260" height="160" alt="Сезон новогодних каникул" loading="lazy")
        .news__inner
          h2.news__head Художественная подсветка
          p.news__text Самое ожидаемое событие осеннего сезона — начало работы художественной подсветки главной достопримечательности парка, величественного Мраморного каньона. 
      li.news__item
        span.news__date 10.11.2020
        picture.news__picture
          source(media="(min-width: 1280px)" srcset="static/images/content/news/news-5-desktop@1x.png 1x, static/images/content/news/news-5-desktop@2x.png 2x")
          img.news__img(src="static/images/content/news/news-5-mobile@1x.png" srcset="static/images/content/news/news-5-mobile@2x.png 2x" width="260" height="160" alt="Сезон новогодних каникул" loading="lazy")
        .news__inner
          h2.news__head ОТДЫХ Leisure 2020
          p.news__text С 8 по 10 сентября представители Горного парка «Рускеала» принимают участие в выставке ОТДЫХ Leisure, проходящей в эти дни в Инновационном центре «Сколково».
      li.news__item
        span.news__date 03.11.2020
        picture.news__picture
          source(media="(min-width: 1280px)" srcset="static/images/content/news/news-6-desktop@1x.png 1x, static/images/content/news/news-6-desktop@2x.png 2x")
          img.news__img(src="static/images/content/news/news-6-mobile@1x.png" srcset="static/images/content/news/news-6-mobile@2x.png 2x" width="260" height="160" alt="Сезон новогодних каникул" loading="lazy")
        .news__inner
          h2.news__head «Благозвучие Рускеала»
          p.news__text В Горном парке «Рускеала» впервые зазвонили колокола. Здесь прошло необычное событие, собравшее около 400 зрителей и любителей хорового пения. В окружении отвесных скал Мраморного каньона, озаренных яркими лучами динамической художественной подсветки, состоялся концерт Хора Никольского храма и Студии звонарей «Благовест».
    a.news__link.button.button--orange-transparent.button--dashed(href="#") Загрузить ещё