.buy-ticket {
  margin-bottom: 60px;
  @media screen and (min-width: $desktop-size) {
    flex-basis: 48%;
    flex-shrink: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .container { 
    padding-right: 0; 
    @media screen and (min-width: $desktop-size) {
      margin: 0;
      max-width: 100%;
      padding: 0;
      width: 100%;
    }
  }
  &__content {
    @media screen and (min-width: $desktop-size) {
      width: 100%;
    }
  }
  &__header {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $desktop-size) {
      align-items: center;
      flex-direction: row;
      margin-bottom: 40px;
    }
  }
  &__inner {
    background-color: $white;
    box-shadow: 0 0 50px rgba(48, 51, 129, 0.15);
    border: 1px solid $border-middle-grey-color;
    margin-bottom: 20px;
    padding: 20px 0 20px 20px;
    @media screen and (min-width: $desktop-size) {
      margin-bottom: 30px;
      padding: 30px 40px;
    }
  }
  &__note {
    color: rgba($black, 0.8);
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    @media screen and (min-width: $desktop-size) {
      margin-bottom: 0;
      margin-left: 25px;
    }
    @media screen and (min-width: $large-size) {
      font-size: 25px;
      line-height: 30px;
    }
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-right: 20px;
    @media screen and (min-width: $desktop-size) {
      margin-bottom: 30px;
      padding: 0;
    }
  }
  &__month {
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    @media screen and (min-width: $desktop-size) {
      font-size: 22px;
      line-height: 27px;
    }
  }
  &__footer {
    padding-right: 20px;
    @media screen and (min-width: $desktop-size) {
      padding: 0;
    }
  }
  &__button {
    width: 100%;
    @media screen and (min-width: $desktop-size) {
      width: auto;
    }
  }
}

.choose-ticket {
  display: flex;
  @media screen and (min-width: $desktop-size) {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    align-items: center;
    border: 1px solid $border-dark-grey-color;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 180px;
    @media screen and (min-width: $desktop-size) {
      align-items: stretch;
      max-width: 293px;
      padding: 15px 20px;
      width: 49%;
      &:not(:nth-last-child(-n+2)) { margin-bottom: 10px; }
    }
  }
  &__top {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    @media screen and (min-width: $desktop-size) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__date {
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    @media screen and (min-width: $desktop-size) {
      margin-bottom: 0;
      margin-right: 10px;
    }
  }
  &__seats {
    color: $text-color-grey;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    @media screen and (min-width: $desktop-size) {
      font-size: 12px;
      line-height: 15px;
      text-align: right;
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $large-size) {
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  &__name {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    @media screen and (min-width: $large-size) {
      margin-bottom: 0;
    }
  }
  &__button {
    border-width: 1px;
    padding: 7px 25px;
  }
}