section.tours-park
	h1.visually-hidden Страница с турами в парк Рускеала
	include ../../modules/breadcrumbs/breadcrumbs
	ul.tours-park__tours
		li.tours-park__tour
			.tours-park__images.tours-park__slider--weekend.swiper-container
				ul.tours-park__image-list.swiper-wrapper
					li.tours-park-images__image-item.swiper-slide
						picture.tours-park__picture
							//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
							//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
							source(media="(min-width: 1280px)" srcset="static/images/content/tours/weekend-1-desktop@1x.png 1x, static/images/content/tours/weekend-1-desktop@2x.png 2x")
							img.tours-park__img(src="static/images/content/tours/weekend-1-mobile@1x.png" srcset="static/images/content/tours/weekend-1-mobile@2x.png 2x" width="320" height="250" alt="Выходные в Карелии")
					li.tours-park-images__image-item.swiper-slide
						picture.tours-park__picture
							//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
							//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
							source(media="(min-width: 1280px)" srcset="static/images/content/tours/weekend-2-desktop@1x.png 1x, static/images/content/tours/weekend-2-desktop@2x.png 2x")
							img.tours-park__img(src="static/images/content/tours/weekend-2-mobile@1x.png" srcset="static/images/content/tours/weekend-2-mobile@2x.png 2x" width="320" height="250" alt="Выходные в Карелии")
					li.tours-park-images__image-item.swiper-slide
						picture.tours-park__picture
							//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
							//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
							source(media="(min-width: 1280px)" srcset="static/images/content/tours/weekend-3-desktop@1x.png 1x, static/images/content/tours/weekend-3-desktop@2x.png 2x")
							img.tours-park__img(src="static/images/content/tours/weekend-3-mobile@1x.png" srcset="static/images/content/tours/weekend-3-mobile@2x.png 2x" width="320" height="250" alt="Выходные в Карелии")
					li.tours-park-images__image-item.swiper-slide
						picture.tours-park__picture
							//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
							//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
							source(media="(min-width: 1280px)" srcset="static/images/content/tours/weekend-4-desktop@1x.png 1x, static/images/content/tours/weekend-4-desktop@2x.png 2x")
							img.tours-park__img(src="static/images/content/tours/weekend-4-mobile@1x.png" srcset="static/images/content/tours/weekend-4-mobile@2x.png 2x" width="320" height="250" alt="Выходные в Карелии")
					li.tours-park-images__image-item.swiper-slide
						picture.tours-park__picture
							//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
							//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
							source(media="(min-width: 1280px)" srcset="static/images/content/tours/weekend-5-desktop@1x.png 1x, static/images/content/tours/weekend-5-desktop@2x.png 2x")
							img.tours-park__img(src="static/images/content/tours/weekend-5-mobile@1x.png" srcset="static/images/content/tours/weekend-5-mobile@2x.png 2x" width="320" height="250" alt="Выходные в Карелии")
				.tours-park__slider-buttons
					.tours-park__slider-button.tours-park__slider-button--prev.slider__button
						+icon('icon-prev-next', 'slider__icon slider__icon--white slider__icon--prev', '24', '24')
					.tours-park__slider-button.tours-park__slider-button--next.slider__button
						+icon('icon-arrow--right', 'slider__icon slider__icon--white slider__icon--next', '24', '24')
			.tours-park__description
				.container
					.tours-park__inner
						span.tours-park__sub-title Тур
						h2.tours-park__title «Выходные в Карелии» <br>2 дня
						p.tours-park__text Путешествие к природе севера. Расширенное время в Горном парке Рускеала.
						span.tours-parkt__cost Цена
						.tours-park__price
							span.tours-park__count 8 850
							span.tours-park__person руб.
						.tours-park__bottom
							button.button.tours-park__reserved Забронировать
							button.button.button--dashed.button--transparent.tours-park__more Что входит в стоимость
		li.tours-park__tour
			.tours-park__images.tours-park__slider--pearl.swiper-container.tours-park__images--left
				ul.tours-park__image-list.swiper-wrapper
					li.tours-park-images__image-item.swiper-slide
						picture.tours-park__picture
							//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
							//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
							source(media="(min-width: 1280px)" srcset="static/images/content/tours/pearl-1-desktop@1x.png 1x, static/images/content/tours/pearl-1-desktop@2x.png 2x")
							img.tours-park__img.tours-park__img--right(src="static/images/content/tours/pearl-1-mobile@1x.png" srcset="static/images/content/tours/pearl-1-mobile@2x.png 2x" width="320" height="250" alt="жемчужина Карелии")
					li.tours-park-images__image-item.swiper-slide
						picture.tours-park__picture
							//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
							//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
							source(media="(min-width: 1280px)" srcset="static/images/content/tours/pearl-2-desktop@1x.png 1x, static/images/content/tours/pearl-2-desktop@2x.png 2x")
							img.tours-park__img.tours-park__img--right(src="static/images/content/tours/pearl-2-mobile@1x.png" srcset="static/images/content/tours/pearl-2-mobile@2x.png 2x" width="320" height="250" alt="жемчужина Карелии")
					li.tours-park-images__image-item.swiper-slide
						picture.tours-park__picture
							//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
							//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
							source(media="(min-width: 1280px)" srcset="static/images/content/tours/pearl-3-desktop@1x.png 1x, static/images/content/tours/pearl-3-desktop@2x.png 2x")
							img.tours-park__img.tours-park__img--right(src="static/images/content/tours/pearl-3-mobile@1x.png" srcset="static/images/content/tours/pearl-3-mobile@2x.png 2x" width="320" height="250" alt="жемчужина Карелии")
					li.tours-park-images__image-item.swiper-slide
						picture.tours-park__picture
							//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
							//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
							source(media="(min-width: 1280px)" srcset="static/images/content/tours/pearl-4-desktop@1x.png 1x, static/images/content/tours/pearl-4-desktop@2x.png 2x")
							img.tours-park__img.tours-park__img--right(src="static/images/content/tours/pearl-4-mobile@1x.png" srcset="static/images/content/tours/pearl-4-mobile@2x.png 2x" width="320" height="250" alt="жемчужина Карелии")
					li.tours-park-images__image-item.swiper-slide
						picture.tours-park__picture
							//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
							//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
							source(media="(min-width: 1280px)" srcset="static/images/content/tours/pearl-5-desktop@1x.png 1x, static/images/content/tours/pearl-5-desktop@2x.png 2x")
							img.tours-park__img.tours-park__img--right(src="static/images/content/tours/pearl-5-mobile@1x.png" srcset="static/images/content/tours/pearl-5-mobile@2x.png 2x" width="320" height="250" alt="жемчужина Карелии")
				.tours-park__slider-buttons.tours-park__slider-buttons--right
					.tours-park__slider-button.tours-park__slider-button--prev.slider__button
						+icon('icon-prev-next', 'slider__icon slider__icon--white slider__icon--prev', '24', '24')
					.tours-park__slider-button.tours-park__slider-button--next.slider__button
						+icon('icon-arrow--right', 'slider__icon slider__icon--white slider__icon--next', '24', '24')
			.tours-park__description
				.container
					.tours-park__inner.tours-park__inner--right
						span.tours-park__sub-title Тур
						h2.tours-park__title «Рускеала - жемчужина Карелии» <br>1 день
						p.tours-park__text Сегодня появилась уникальная возможность приехать в город Сортавала благодаря электропоезду  «Ласточка», который связал  новым маршрутом Санкт-Петербург с нашим городом. Теперь вы можете легко приехать в Сортавала благодаря новому поезду. Мы будем рады вам и поможем полюбить наш город так, как любим его мы!
						span.tours-parkt__cost Цена
						.tours-park__price
							span.tours-park__count 2 350
							span.tours-park__person руб.
						.tours-park__bottom
							button.button.tours-park__reserved Забронировать
							button.button.button--dashed.button--transparent.tours-park__more Что входит в стоимость
		li.tours-park__tour
			.tours-park__images.tours-park__slider--pearl-day.swiper-container
				ul.tours-park__image-list.swiper-wrapper
					li.tours-park-images__image-item.swiper-slide
						picture.tours-park__picture
							//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
							//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
							source(media="(min-width: 1280px)" srcset="static/images/content/tours/pearl-day-1-desktop@1x.png 1x, static/images/content/tours/pearl-day-1-desktop@2x.png 2x")
							img.tours-park__img(src="static/images/content/tours/pearl-day-1-mobile@1x.png" srcset="static/images/content/tours/pearl-day-1-mobile@2x.png 2x" width="320" height="250" alt="Жемчужина Карелии – Рускеала")
					li.tours-park-images__image-item.swiper-slide
						picture.tours-park__picture
							//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
							//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
							source(media="(min-width: 1280px)" srcset="static/images/content/tours/pearl-2-desktop@1x.png 1x, static/images/content/tours/pearl-2-desktop@2x.png 2x")
							img.tours-park__img(src="static/images/content/tours/pearl-2-mobile@1x.png" srcset="static/images/content/tours/pearl-2-mobile@2x.png 2x" width="320" height="250" alt="Жемчужина Карелии – Рускеала")
					li.tours-park-images__image-item.swiper-slide
						picture.tours-park__picture
							//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
							//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
							source(media="(min-width: 1280px)" srcset="static/images/content/tours/pearl-3-desktop@1x.png 1x, static/images/content/tours/pearl-3-desktop@2x.png 2x")
							img.tours-park__img(src="static/images/content/tours/pearl-3-mobile@1x.png" srcset="static/images/content/tours/pearl-3-mobile@2x.png 2x" width="320" height="250" alt="Жемчужина Карелии – Рускеала")
					li.tours-park-images__image-item.swiper-slide
						picture.tours-park__picture
							//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
							//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
							source(media="(min-width: 1280px)" srcset="static/images/content/tours/pearl-4-desktop@1x.png 1x, static/images/content/tours/pearl-4-desktop@2x.png 2x")
							img.tours-park__img(src="static/images/content/tours/pearl-4-mobile@1x.png" srcset="static/images/content/tours/pearl-4-mobile@2x.png 2x" width="320" height="250" alt="Жемчужина Карелии – Рускеала")
					li.tours-park-images__image-item.swiper-slide
						picture.tours-park__picture
							//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
							//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
							source(media="(min-width: 1280px)" srcset="static/images/content/tours/pearl-5-desktop@1x.png 1x, static/images/content/tours/pearl-5-desktop@2x.png 2x")
							img.tours-park__img(src="static/images/content/tours/pearl-5-mobile@1x.png" srcset="static/images/content/tours/pearl-5-mobile@2x.png 2x" width="320" height="250" alt="Жемчужина Карелии – Рускеала")
				.tours-park__slider-buttons
					.tours-park__slider-button.tours-park__slider-button--prev.slider__button
						+icon('icon-prev-next', 'slider__icon slider__icon--white slider__icon--prev', '24', '24')
					.tours-park__slider-button.tours-park__slider-button--next.slider__button
						+icon('icon-arrow--right', 'slider__icon slider__icon--white slider__icon--next', '24', '24')
			.tours-park__description
				.container
					.tours-park__inner
						span.tours-park__sub-title Тур
						h2.tours-park__title «Жемчужина Карелии – Рускеала» <br>1 день
						p.tours-park__text Красочное путешествие к мраморному сердцу Карелии – горному парку и каньону Рускеала. Обновленная экскурсионная программа 2018-2019 года с новыми достопримечательностями!
						span.tours-parkt__cost Цена
						.tours-park__price
							span.tours-park__count 2 550
							span.tours-park__person руб.
						.tours-park__bottom
							button.button.tours-park__reserved Забронировать
							button.button.button--dashed.button--transparent.tours-park__more Что входит в стоимость
		li.tours-park__tour
			.tours-park__images.tours-park__slider--miracles.swiper-container.tours-park__images--left
				ul.tours-park__image-list.swiper-wrapper
					li.tours-park-images__image-item.swiper-slide
						picture.tours-park__picture
							//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
							//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
							source(media="(min-width: 1280px)" srcset="static/images/content/tours/miracles-1-desktop@1x.png 1x, static/images/content/tours/miracles-1-desktop@2x.png 2x")
							img.tours-park__img.tours-park__img--right(src="static/images/content/tours/miracles-1-mobile@1x.png" srcset="static/images/content/tours/miracles-1-mobile@2x.png 2x" width="320" height="250" alt="10 чудес Карелии")
					li.tours-park-images__image-item.swiper-slide
						picture.tours-park__picture
							//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
							//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
							source(media="(min-width: 1280px)" srcset="static/images/content/tours/miracles-2-desktop@1x.png 1x, static/images/content/tours/miracles-2-desktop@2x.png 2x")
							img.tours-park__img.tours-park__img--right(src="static/images/content/tours/miracles-2-mobile@1x.png" srcset="static/images/content/tours/miracles-2-mobile@2x.png 2x" width="320" height="250" alt="10 чудес Карелии")
					li.tours-park-images__image-item.swiper-slide
						picture.tours-park__picture
							//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
							//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
							source(media="(min-width: 1280px)" srcset="static/images/content/tours/miracles-3-desktop@1x.png 1x, static/images/content/tours/miracles-3-desktop@2x.png 2x")
							img.tours-park__img.tours-park__img--right(src="static/images/content/tours/miracles-3-mobile@1x.png" srcset="static/images/content/tours/miracles-3-mobile@2x.png 2x" width="320" height="250" alt="10 чудес Карелии")
					li.tours-park-images__image-item.swiper-slide
						picture.tours-park__picture
							//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
							//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
							source(media="(min-width: 1280px)" srcset="static/images/content/tours/miracles-4-desktop@1x.png 1x, static/images/content/tours/miracles-4-desktop@2x.png 2x")
							img.tours-park__img.tours-park__img--right(src="static/images/content/tours/miracles-4-mobile@1x.png" srcset="static/images/content/tours/miracles-4-mobile@2x.png 2x" width="320" height="250" alt="10 чудес Карелии")
					li.tours-park-images__image-item.swiper-slide
						picture.tours-park__picture
							//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
							//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
							source(media="(min-width: 1280px)" srcset="static/images/content/tours/miracles-5-desktop@1x.png 1x, static/images/content/tours/miracles-5-desktop@2x.png 2x")
							img.tours-park__img.tours-park__img--right(src="static/images/content/tours/miracles-5-mobile@1x.png" srcset="static/images/content/tours/miracles-5-mobile@2x.png 2x" width="320" height="250" alt="10 чудес Карелии")
				.tours-park__slider-buttons.tours-park__slider-buttons--right
					.tours-park__slider-button.tours-park__slider-button--prev.slider__button
						+icon('icon-prev-next', 'slider__icon slider__icon--white slider__icon--prev', '24', '24')
					.tours-park__slider-button.tours-park__slider-button--next.slider__button
						+icon('icon-arrow--right', 'slider__icon slider__icon--white slider__icon--next', '24', '24')
			.tours-park__description
				.container
					.tours-park__inner.tours-park__inner--right
						span.tours-park__sub-title Тур
						h2.tours-park__title «10 чудес Карелии. Романтический уик-энд» <br>2 дня
						p.tours-park__text Авторский тур с яркой, насыщенной программой. Финалист премии «Маршрут года»
						span.tours-parkt__cost Цена
						.tours-park__price
							span.tours-park__count 6 150
							span.tours-park__person руб.
						.tours-park__bottom
							button.button.tours-park__reserved Забронировать
							button.button.button--dashed.button--transparent.tours-park__more Что входит в стоимость
	.tours-park__vacation.tours-vacation
		.container
			.tours-vacation__col
				h2.tours-vacation__title Отдых<br> в Карелии
				picture.tours-vacation__picture.tours-vacation__picture--mobile-none
					//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
					//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
					source(media="(min-width: 1280px)" srcset="static/images/content/tours/vacation-desktop@1x.png 1x, static/images/content/tours/vacation-desktop@2x.png 2x")
					img.tours-vacation__img(src="static/images/content/tours/vacation-mobile@1x.png" srcset="static/images/content/tours/vacation-mobile@2x.png 2x" width="320" height="220" alt="Отдых в Карелии")
			p.tours-vacation__pre-text Мы подготовили для своих туристов из Санкт-Петербурга и других городов удивительные увлекательные путешествия и туры, которые понравятся взрослым и детям. За 1, 2 или 3 дня. <br>Вы получите новые знания о Карелии, увидите уникальные достопримечательности Русского Севера и, конечно, порадуетесь необычным развлечениям.
			p.tours-vacation__text.tours-vacation__text--right Вы можете выбрать подходящую для себя по длительности и программе поездку в Карелию: <br><br>Каждый однодневный, двухдневный и трехдневный тур в Карелию организован максимально насыщенным. В рамках 1-2 дневного путешествия туристы смогут увидеть и достопримечательности городов, и уникальные природные уголки. И, конечно, путешественников ждет расслабленный отдых в комфортных гостиницах Карелии. <br><br>Бронируйте свой лучший отдых, выбирайте подходящий тур из Петербурга в Карелию. При раннем бронировании предусмотрены скидки. Успейте посетить Русский Север по выгодной стоимости.
			picture.tours-vacation__picture.tours-vacation__picture--desktop-none
				//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
				img.tours-vacation__img(src="static/images/content/tours/vacation-mobile@1x.png" srcset="static/images/content/tours/vacation-mobile@2x.png 2x" width="320" height="220" alt="Отдых в Карелии")
			p.tours-vacation__text.tours-vacation__text--clear Отдых в Карелии с каждым годом становится более популярным не только среди россиян, но и среди иностранных туристов. Новые и опытные путешественники открывают для себя Русский север с ещё неизведанной стороны, сравнивая Ладожские шхеры с Норвежскими пейзажами и просто восторгаясь красотами ландшафта и историческими памятниками. <br><br>Поездка в Карелию – это быстро, экологично, оздоровительно и вдохновляюще! Здесь каждый сможет найти для себя лучшие маршруты и точно не останется равнодушным. Отправиться в путешествие по Карелии можно в любое время года, так как республика готова порадовать вас разнообразием развлечений и всеми возможными видами отдыха вне зависимости от погодных и сезонных условий. Добраться до заветной Карелии можно самостоятельно или же воспользовавшись услугами профессионалов. Главное – выбрать подходящий тур! <br><br>Туры в Карелию разнообразны и каждый найдет для себя программу по вкусу! Выбирая тур, определитесь с его длительность, основными точками маршрута, обязательными для посещения, виды развлекательных программ. <br><br>«Горный парк Рускеала и водопады (эксклюзив)» - тур для тех, кто ловит момент! Однодневный тур до жемчужины Карелии – парка Рускеала. Проведите целый день на свежем воздухе и успейте завершить все дела! <br>Ретро поезд в Карелию – если у вас свободны только выходные, но хочется природы и комфорта, то этот тур для Вас! Однодневная поездка на ласточке доставит вас до Сортавала и подарит яркие впечатления. Изюминкой поездки, конечно же, станет поездка на настоящем ретро паровозе. <br>Если же время на вашей стороне, то обязательно совершите поездку на более долгий срок. Например, советуем рассмотреть варианты: <br>Валаам с посещением парка "Рускеала" – двухдневный тур, охватывающий знаменитый остров Валаам. В первый день туристы смогут насладиться прогулками по мраморному каньону и вокруг водопада Ахинкоски, а на второй день отправиться на Валаам. Путь проходит через Ладожские озеро. Невероятные виды Ладоги откроют для вас новый мир водных прогулок и неповторимых видов на фьорды. Валаам считается православной столицей России, а архитектура острова отражает истинные черты великого русского зодчества.
			

