.open-time {
  .container {
    padding: 0;
  }
  &__title {
    font-size: 22px;
    line-height: 27px;
    font-weight: 900;
    margin: 0 0 10px 0;
    padding: 0 20px;
  }
}

@import "tabs-links";
@import "tabs-content";