.overflow-hidden {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section__title {
  font-weight: 900;
  font-size: 30px;
  line-height: 37px;
  @media screen and (min-width: $desktop-size) {
    font-size: 35px;
    line-height: 45px;
  }
  @media screen and (min-width: $large-size) {
    font-size: 40px;
    line-height: 49px;
  }
}

.close-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: absolute;
  padding: 0;
  &:hover {
    svg {
      opacity: 0.7;
    }
  }
}