.interactive-map.modal__closed
    button.close-button.interactive-map__close-button
        +icon('icon-small-close', 'enter-ticket__icon enter-ticket__icon--close', '18', '18')
    .interactive-map__map