.interactive-map.modal__closed
    button.close-button.interactive-map__close-button
        +icon('icon-small-close', 'enter-ticket__icon enter-ticket__icon--close', '18', '18')
    .interactive-map__map
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad600ee82c9a30fb4751a16642645db1ba1f7726f7db468dbe425d2847742c81a&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>