.excursions-add
	.excursions-add__content
		button.excursions-add__close.close-button
			+icon('icon-small-close', 'enter-ticket__icon enter-ticket__icon--close', '18', '18')
		h2.excursions-add__title Дополнительно
		.excursions-add__wrapper
			.excursions-add__col.excursions-add__col--left
				span.excursions-add__privileges.excursions-add__privileges--discounts Скидки
				.excursions-add__inner-row
					span.excursions-add__type.excursions-add__type--full Полный билет
					span.excursions-add__price.excursions-add__price--full 350 руб.
				.excursions-add__inner-row
					span.excursions-add__type.excursions-add__type--students Студентам *
					span.excursions-add__price.excursions-add__price--student 150 руб.
				.excursions-add__inner-row
					span.excursions-add__type.excursions-add__type--school Школьникам *
					span.excursions-add__price.excursions-add__price--school 100 руб.
				.excursions-add__inner-row
					span.excursions-add__type.excursions-add__type--retiree Лицам 60+ лет *
					span.excursions-add__price.excursions-add__price--retiree 150 руб.
				p.excursions-add__text * При покупке билета студенты должны предъявить студенческий билет, школьники — свидетельство о рождении или паспорт (при наличии), лица, старше 60 лет — паспорт или пенсионное удостоверение.
			.excursions-add__col.excursions-add__col--right
				span.excursions-add__privileges.excursions-add__privileges--privileges Льготы
				p.excursions-add__text.excursions-add__text--add Ветераны Великой Отечественной войны, узники концлагерей, жители блокадного Ленинграда, дети до 7 лет, инвалиды 1-й группы (с одним сопровождающим), дети-инвалиды – бесплатно (при предъявлении удостоверения).
				span.excursions-add__note-title Важная информация
				p.excursions-add__note Горный парк «Рускеала» не несет ответственности за рекламные материалы, информация о которых размещена на сторонних сайтах.

