.excursions-route
	button.close-button.excursions-route__close
		+icon('icon-small-close', 'enter-ticket__icon enter-ticket__icon--close', '18', '18')
	img.excursions-route__img(src="static/images/content/excursions/route-map-mobile@1x.png" srcset="static/images/content/excursions/route-map-mobile@2x.png 2x" width="320" height="580" alt="Маршрут экскурсии" loading="lazy")