.excursions-route
	button.close-button.excursions-route__close
		+icon('icon-small-close', 'enter-ticket__icon enter-ticket__icon--close', '18', '18')
	picture.excursions-route__picture
		//source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
		//source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
		source(media="(min-width: 1280px)" srcset="static/images/content/excursions/route-map-desktop@1x.png 1x, static/images/content/excursions/route-map-desktop@2x.png 2x")
		img.excursions-route__img(src="static/images/content/excursions/route-map-mobile@1x.png" srcset="static/images/content/excursions/route-map-mobile@2x.png 2x" width="320" height="580" alt="Маршрут экскурсии" loading="lazy")