.excursions-route.excursions-route--under
	button.close-button.excursions-route__close.excursions-route--under__close
		+icon('icon-small-close', 'enter-ticket__icon enter-ticket__icon--close', '18', '18')
	.route-map--under(style="width: 100%; height: 100%;")