.excursions-route.excursions-route--master
	button.close-button.excursions-route__close.excursions-route--master__close
		+icon('icon-small-close', 'enter-ticket__icon enter-ticket__icon--close', '18', '18')
	.route-map--master(style="width: 100%; height: 100%;")