.excursions-route.excursions-route--canyon
	button.close-button.excursions-route__close.excursions-route--canyon__close
		+icon('icon-small-close', 'enter-ticket__icon enter-ticket__icon--close', '18', '18')
	.route-map--canyon(style="width: 100%; height: 100%;")