.select-time {
  font-size: 13px;
  line-height: 16px;
  position: relative;
  @media screen and (min-width: $desktop-size) {
    font-size: 18px;
    line-height: 22px;
    margin-left: 20px;
    &:hover {
      .select-time__header {
        box-shadow: 0 0 10px rgba(48, 51, 129, 0.1);
      }
    }
  }
  &.is-open {
    .select-time__body { display: block; }
  }
  &__header {
    align-items: center;
    border: 1px solid $border-grey-color;
    cursor: pointer;
    display: flex;
    padding: 11px 15px;
    transition: all ease-out 0.15s;
  }
  &__current {
    font-weight: 400;
    margin-right: 40px;
  }
  &__icon {
    &--arrow {
      fill: $orange-dark-color;
    }
  }
  &__body {
    background-color: $white;
    border: 1px solid $border-grey-color;
    border-top: none;
    display: none;
    left: 0;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
  }
  &__item {
    cursor: pointer;
    font-weight: 400;
    padding: 5px 15px;
    transition: all ease-out .15s;
    &:hover { background-color: $orange-dark-color; }
  }
}