.button {
  border: none;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: $white;
  background-color: $orange-dark-color;
  padding: 10px 30px;
  border-radius: 54px;
  cursor: pointer;
  transition: all ease-out .15s;
  &:hover {
    background-color: $orange-light-color;
    border-color: $orange-light-color;
  }
  &:active { background-color: $orange-active-color; }
  @media screen and (min-width: $desktop-size) {
    padding: 15px 35px;
  }
  &--transparent {
    background-color: transparent;
    border: 2px solid $white;
    &:hover {
      background-color: transparent;
      border-color: $orange-light-color;
      color: $orange-light-color;
    }
  }
  &--orange-transparent {
    color: $orange-dark-color;
    background-color: transparent;
    border: 2px solid $orange-dark-color;
    &:hover {
      color: $white;
      background-color: $orange-dark-color;
      border-color: $orange-dark-color;
    }
    &:active { background-color: $orange-active-color; }
  }
  &--white {
    background-color: $white;
    color: $black;
    font-size: 16px;
    line-height: 26px;
  }
  &--dashed {
    border-style: dashed;
  }
}
