.slider {
  &__button {
    display: inline-block;
    cursor: pointer;
    height: 32px;
    width: 32px;
    &.swiper-button-disabled svg {
      fill: $grey-color;
    }
    &--next { transform: rotate(180deg); }
  }
}