.sandwich {
    cursor: pointer;
    height: 24px;
    position: absolute;
    width: 24px;
    top: 11px;
    left: 20px;
    &.is {
        &-active {
            .sandwich__line {
                &--top {
                    top: 10px;
                    transform: rotate(45deg);
                }
                &--middle { opacity: 0; }
                &--bottom {
                    top: 10px;
                    transform: rotate(-45deg);
                }
            }
        }
    }
    &__line {
        background-color: #000000;
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        transition: all linear .4s;
        transform: translateX(-50%);
        width: 18px;
        border-radius: 3px;
        &--top { top: 6px; }
        &--middle { top: 11px; }
        &--bottom { top: 16px; }
    }
}