section.post
  .container
    h1.post__title Сезон новогодних каникул
    .post__top
      b.post__date Дата публикации: 21.12.2020
      h2.post__sub-title Уважаемые гости!
      p.post__text Приглашаем Вас в Горный парк «Рускеала», чтобы пройтись по заснеженным тропинкам, вдохнуть морозного воздуха и насладиться волшебной карельской природой. В сезон новогодних каникул мы готовимся принять в Рускеала большое количество гостей. Обратите внимание на особенности работы Горного парка в этот период.
    img.post__img(src="static/images/content/posts/post-1-1-mobile@1x.png" srcset="static/images/content/posts/post-1-1-mobile@2x.png 2x" width="320" height="523" alt="Сезон новогодних каникул" loading="lazy")
    h2.post__sub-title Какие ограничения действуют в Парке?
    p.post__text Обращаем Ваше внимание на то, что предоставить экскурсионные услуги и горячее питание всем гостям парка в эти дни не представляется возможным. Забота о Вашей безопасности и здоровье определяет пропускную способность наших маршрутов, а количество билетов на экскурсии и посадочных мест в кафе строго ограничены действующими правилами посещения туристических объектов Республики Карелия. Билеты на экскурсии «Мраморный каньон» и «Дорогой горных мастеров» доступны для бронирования только через туристические компании. Билеты на экскурсию «Подземная Рускеала» приобретаются без предварительного бронирования в кассах и билетных терминалах парка в день визита. Количество билетов ограничено.
    img.post__img(src="static/images/content/posts/post-1-2-mobile@1x.png" srcset="static/images/content/posts/post-1-2-mobile@2x.png 2x" width="320" height="220" alt="Сезон новогодних каникул" loading="lazy")
    p.post__text Мы просим наших гостей соблюдать простые правила, которые помогут Вам обезопасить себя.
    ul.post__list
      li.post__item Воздержитесь от посещения парка при наличии симптомов заболевания.
      li.post__item Обязательно используйте средства индивидуальной защиты (маски, перчатки) в местах контакта с другими людьми (кассы, кафе, экскурсии, туалетные комнаты). При несоблюдении этого правила сотрудник парка вправе отказать Вам в обслуживании.
      li.post__item По возможности используйте безналичный расчет при оплате товаров и услуг.
      li.post__item Обрабатывайте руки дезинфицирующими средствами как можно чаще.
      li.post__item Соблюдайте социальную дистанцию в 1,5 метра.
    h2.post__sub-title Чем заняться?
    p.post__text По основным маршрутам парка оборудованы экотропы, которые проведут вас по самым прекрасным местам и видовым площадкам. Ежедневно с наступлением темноты в парке будут зажигаться яркие огни художественной подсветки величественного Мраморного каньона, превращающие парк в по-настоящему сказочное место. И если вам не повезет увидеть северное сияние в небе, то переливы света на отвесных скалах Мраморного каньона смогут стать достойной заменой этому природному явлению!
    p.post__text Со 2 по 9 января на площади возле кафе «Русколка» будет работать Новогодняя ярмарка. Здесь разместят уютные деревянные домики, где все желающие смогут купить горячие напитки, сладости, сувениры и товары карельских производителей.
    p.post__text Часы работы ярмарки: с 11:00 до 18:00.
    p.post__text Кроме того, со 2 по 8 января с 12:00 до 16:00 возле новогодней ёлки пройдут Ярмарочные гуляния «Тайны света Рускеала». В программе гостей ждет выступление танцевальных коллективов, мастер-классы, игры, конкурсы и народные забавы с соблюдением социальной дистанции. В завершении программы приглашаем всех гостей на огненно-хореографическое шоу в Итальянском карьере.
    p.post__text Каждый день гости Горного парка смогут совершить поездку на водопады Ахинкоски, прокатиться по парку на конном экипаже, посетить музей деревянной скульптуры «Обитель ангелов», тематическую территорию «Тайные тропы земли Калевала», а любителей активных развлечений ждет аттракцион «Полет над каньоном», будет организованы катания на снегоходах.*
    p.post__text *В программе возможны изменения по погодным условиям.
