section.events-park
	.container
		.events__content
			.events-park__top
				img.events-park__logo(src="static/images/common/logo-ruskeala.svg" width="52" height="56" alt="Логотип парка Рускеала")
				h2.events-park__title Ключевые<br> события парка
			.events-park__wrapper.swiper-container
				ul.events-park__list.swiper-wrapper
					li.events-park__item.swiper-slide
						img.events-park__icon(src="static/images/common/icon-event-marker.svg" width="33" height="24" alt="Иконка событий")
						h3.events-park__year 1998
						.events-park__inner
							p.events-park__name Признание месторождения непригодным для промышленной добычи сырья
					li.events-park__item.swiper-slide
						img.events-park__icon(src="static/images/common/icon-event-marker.svg" width="33" height="24" alt="Иконка событий")
						h3.events-park__year 1999
						.events-park__inner
							p.events-park__name Создание идеологической концепции парка
							p.events-park__descripion Совместная публикация А. Грибушина, И. Борисова, В. Кондратьева «Концепция развития туристского объекта «Мраморные ломки Рускеала». Первые экскурсии краеведов И. Борисова и А. Грибушина.
					li.events-park__item.swiper-slide
						img.events-park__icon(src="static/images/common/icon-event-marker.svg" width="33" height="24" alt="Иконка событий")
						h3.events-park__year 2001
						.events-park__inner
							p.events-park__name Начало работ по расчистке территории парка
							p.events-park__descripion усилиями группы компаний «Колмас Карелия» при поддержке дайвинг клубов из Санкт-Петербурга
					li.events-park__item.swiper-slide
						img.events-park__icon(src="static/images/common/icon-event-marker.svg" width="33" height="24" alt="Иконка событий")
						h3.events-park__year 2005
						.events-park__inner
							p.events-park__name Старт проекта Горный парк «Рускеала»
							p.events-park__descripion Открытие первой экологической тропы и фрагмента штольни. Создание лодочной станции. Все затраты по созданию инфраструктуры парка взяла на себя группа компаний «Колмас Карелия».
					li.events-park__item.swiper-slide
						img.events-park__icon(src="static/images/common/icon-event-marker.svg" width="33" height="24" alt="Иконка событий")
						h3.events-park__year 2008
						.events-park__inner
							p.events-park__name Запуск партнёрского проекта «Рускеала Экстрим Парк»
							p.events-park__descripion «Рускеала Экстрим Парк» это комплекс отдельно стоящих самостоятельных элементов верёвочного парка: <br>Троллей (полёт над каньоном)<br> Тарзанка (прыжок с верёвкой) <br>Верёвочный парк «Кубик» (верёвочный парк на искусственных опорах с двумя этажами препятствий и скалодромом)
					li.events-park__item.swiper-slide
						img.events-park__icon(src="static/images/common/icon-event-marker.svg" width="33" height="24" alt="Иконка событий")
						h3.events-park__year 2009
						.events-park__inner
							p.events-park__name Установка ландшафтной подсветки
							p.events-park__descripion Первые опыты по световому моделированию под землёй. Рабочий визит группы специалистов проекта «CaveLightng» из Германии.
					li.events-park__item.swiper-slide
						img.events-park__icon(src="static/images/common/icon-event-marker.svg" width="33" height="24" alt="Иконка событий")
						h3.events-park__year 2010
						.events-park__inner
							p.events-park__name Старт исследований заброшенных подземных штолен
							p.events-park__descripion Спелеологи «Русского Географического Общества» провели первую подземную топосъёмку.
					li.events-park__item.swiper-slide
						img.events-park__icon(src="static/images/common/icon-event-marker.svg" width="33" height="24" alt="Иконка событий")
						h3.events-park__year 2013
						.events-park__inner
							p.events-park__name Открытие нового наземного маршрута «Дорога горных мастеров»
							p.events-park__descripion При прокладке были обнаружены фрагменты старой маркшейдерской тропы в районе высшей точки Горного парка.
					li.events-park__item.swiper-slide
						img.events-park__icon(src="static/images/common/icon-event-marker.svg" width="33" height="24" alt="Иконка событий")
						h3.events-park__year 2015
						.events-park__inner
							p.events-park__name Первая галерея ледяных скульптур
							p.events-park__descripion В январе на строящемся маршруте «Подземная Рускеала» группой молодых петербургских художников под руководством Василия Ануфриева создана первая галерея ледяных скульптур. Под землёй появились герои популярного мультфильма «Ледниковый период», а чуть поодаль «ожили» гном и рудокоп – новые символы рускеальских подземелий.
					li.events-park__item.swiper-slide
						img.events-park__icon(src="static/images/common/icon-event-marker.svg" width="33" height="24" alt="Иконка событий")
						h3.events-park__year 2017
						.events-park__inner
							p.events-park__name Запуск маршрута «Подземная Рускеала»
							p.events-park__descripion В апреле новый маршрут «Подземная Рускеала» был сертифицирован и торжественно введён в эксплуатацию. К концу года по нему прошли первые 30 тыс. туристов.
			.events-park__scrollbar.scrollbar
				.scrollbar__drag
					img.scrollbar__mouse(src="static/images/common/icon-mouse.svg" width="29" height="57" alt="Иконка мышки")
					+icon('icon-arrow', 'scrollbar__icon scrollbar__icon--left', '12', '7')
					+icon('icon-arrow', 'scrollbar__icon scrollbar__icon--right', '12', '7')