section.history-park
	.container
		.history-park__content
			h2.history-park__title История парка
			ul.history-park__list
				li.history-park__item
					h3.history-park__name Рускеальское мраморное месторождение
					.history-park__inner
						p.history-park__text – самое крупное из Приладожских. Оно занимает площадь в несколько десятков квадратных километров, и разведано до глубины более пятисот метров. Мрамор в основном полосчатый. Цвета варьируются от серого, сине-серого, зеленовато-серого, белого до почти черного. Встречается очень много скоплений кварца, струйчатого серпентина, пятна бурого, желтого и красноватого оттенков.<br><br>В результате тектонических процессов, длившихся миллионы лет, слои камня сминались, скручивались и перемешивались. Поверхность мраморного массива приобрела современный вид в результате движения трехкилометрового слоя последнего ледника, двенадцать тысяч лет назад. Именно ледник оставил после себя сглаженные «бараньи лбы» и борозды «курчавых скал».
						img.history-park__image.history-park__image--second(src="static/images/content/about/history-1@1x.png" srcset="static/images/content/about/history-1@2x.png 2x" width="320" height="320" alt="Рускеальское месторождение" loading="lazy")
				li.history-park__item
					h3.history-park__name Рускеальское мраморное месторождение
					.history-park__inner
						img.history-park__image.history-park__image--first(src="static/images/content/about/history-2@1x.png" srcset="static/images/content/about/history-2@2x.png 2x" width="320" height="320" alt="Рускеальское месторождение" loading="lazy")
						p.history-park__text Рускеальские мраморные каменоломни расположены в 25 км к северу от города Сортавала, на высоком берегу порожистой реки Тохмайоки («бешеной, дурной»), вблизи старинного поселка Рускеала. Название поселка, вероятно, произошло от местного названия реки Тохмайоки – Русколка (от карельского «ruskea» – коричневый, рыжий, красный), в которой вода всегда коричневая, темно-рыжая из-за растворенных в ней соединений железа. Железом богаты и здешние рыжевато-коричневые почвы. В давние времена недалеко от Рускеалы, в местечке Ханки даже добывали железную руду – охру. Деревня Рускеала под таким названием упоминается только с начала XVIII века, а до этого времени она называлась иначе – Руйсселькя (Руйсселя).
				li.history-park__item
					h3.history-park__name.history-park__name--year 1632
					.history-park__inner
						p.history-park__text шведы, захватившие Корельский уезд, построили в деревне Руйсселькя, на горе Конткасенмяки, небольшую лютеранскую церковь, приписанную к приходу Китее. Примерно в середине XVII на берегу реки Русколки шведы стали добывать мрамор для производства строительной извести. После окончания Северной войны новая граница между Россией и Швецией прошла по северной окраине Рускеалы, так что старые шведские каменоломни оказались на русской территории. Рускеальские земли император Петр I подарил князю, будущему фельдмаршалу Александру Борисовичу Бутурлину.
				li.history-park__item
					h3.history-park__name.history-park__name--year 1732
					.history-park__inner
						p.history-park__text в Руйсселькя, на месте старой кирхи, возле кладбища, была построена новая церковь, в которой имелась церковная кафедра, выполненная из огромного цельного дерева. Рускеала стала почтовой станцией на пути из Сердоболя в Китее.
				li.history-park__item
					h3.history-park__name.history-park__name--year 1765
					.history-park__inner
						p.history-park__text С приходом к власти Екатерины II в России начались крупномасштабные поиски природного камня для строительства Санкт-Петербурга. Камень искали и в Выборгской губернии, в том числе, в районе Сердоболя и Рускеалы. В августе в Рускеалу для осмотра залежей мрамора из Санкт-Петербурга приехал подмастерье каменных дел Андрей Пилюгин. Его помощником был сердобольский пастор Самуил Алопеус, который по роду своей службы много ездил по приходам, попутно собирая информацию о месторождениях различных камней. Самуил Алопеус жил в Сердоболе с 1755 по 1794 годы. До этого он работал учителем иностранных языков в Выборге, затем служил священником в Санкт-Петербурге. Самуил Алопеус с юности полюбил минералы и в течение всего своего служения церкви интересовался возможностью их применения на благо России. Совершая поездки к прихожанам, пастор собирал ценные сведения о природе, хозяйстве и населении края, которые он впоследствии обобщил в своей книге.
				li.history-park__item
					h3.history-park__name.history-park__name--year 1766 - 1769
					.history-park__inner
						p.history-park__text в Рускеале началась опытная добыча мрамора, которая показала хорошие перспективы месторождения. В сентябре 1767 года в Рускеалу из столицы приехали горные инспекторы – гвардии капитан Кожин и полковник Иван Васильевич Зверев. Они осмотрели месторождение и составили отчет о проделанной работе. В итоге, 19 января 1768 года императрица Екатерина II подписала указ Сената о начале разработки мрамора в Рускеале для строительства Исаакиевского собора. На берег реки Русколки с Урала приехали мастера-каменотесы с семьями – так возник рабочий поселок Рускеала.С 1769 года Рускеальские мраморные ломки были переданы в ведение Комиссии по строительству Исаакиевского собора. Горными работами поначалу руководили итальянские мастера. Основная добыча мрамора велась на горе Белой, названной так по цвету слагающего ее мрамора светло-серой, голубовато-серой окраски, с тонкими белыми и серыми прожилками
				li.history-park__item
					h3.history-park__name.history-park__name--year 1769 - 1840
					.history-park__inner
						p.history-park__text Добывали буровзрывным способом. Вначале рабочие вдоль подошвы уступа карьера и по краям размеченного блока проходили широкие и глубокие рвы. Для этого они использовали буры, которыми вручную, ударяя по ним молотами, сверлили в мраморе отверстия. Эти скважины затем забивали порохом и подрывали. Чтобы окончательно оторвать камень от скалы, также бурили скважины с тыльной стороны блока, и их тоже подрывали. Тогда блок откалывался от скалы и оседал на дно карьера. Затем к работе приступали каменотесы, которые придавали блокам нужную форму. После этого камни грузили на крепкие сани, в них впрягалось несколько десятков лошадей, которые по снегу тащили столь великий груз до деревни Хелюля, недалеко от Сердоболя (Сортавала). Там камни оставляли до весны. С наступлением навигации сюда из Санкт-Петербурга приходили галиоты с продуктами. На обратном пути они загружались мрамором и отправлялись по реке Хелюля, Ладожскому озеру и Неве до столицы.
				li.history-park__item
					h3.history-park__name.history-park__name--year 1769 - 1840
					.history-park__inner
						p.history-park__text рускеальские мраморы широко применялись архитектором Антонио Ринальди для украшения Мраморного дворца, Исаакиевского собора (в Санкт-Петербурге), триумфальных колонн во славу русского оружия и графов Орловых (в Царском Селе и Гатчине). Примечательно, что в конце XVIII-начале XIX века земли Рускеалы принадлежали графине Анне Алексеевне Орловой-Чесменской. <br>Поскольку сразу же за мраморными ломками проходила граница со Швецией, в 1788 году на горе Конткасенмяки была сооружена небольшая русская пограничная батарея, фрагменты которой сохранились до сих пор. Во время очередной русско-шведской войны, в мае 1789 года финско-шведский отряд под командованием майора Ханса Грипенберга пытался прорваться к Сердоболю, но был остановлен огнем русской батареи, и дальше Рускеалы пройти не смог. В 1939 году в память об этом сражении финны установили недалеко от моста через Русколку мраморный обелиск, не сохранившийся до нашего времени.
				li.history-park__item
					h3.history-park__name.history-park__name--year 1803
					.history-park__inner
						p.history-park__text Рускеальские мраморные каменоломни оказались в ведении Комиссии по строительству Казанского собора, и здесь вновь началась добыча камня. Для облицовки мозаичных полов Казанского собора архитектор Андрей Воронихин использовал два сорта рускеальских мраморов: «белогорский» – белый и светло-серый, который ранее применялся А. Ринальди, и «зеленогорский» – светло-серый с зелеными разводами и полосами, выламываемый на горе Зеленой.
				li.history-park__item
					h3.history-park__name.history-park__name--year 1820
					.history-park__inner
						p.history-park__text рускеальский мрамор понемногу стали использовать для производства строительной извести. Первый известковый завод в Рускеале на десять обжиговых печей, принадлежавший Санкт-Петербургскому государственному университету, работал до 1826 года. <br>После передачи Выборгской губернии в состав автономного Великого Княжества Финляндского в 1811 году в Рускеале стало расти число финнов-лютеран. В 1834 году они построили на старом месте, в центре разросшейся деревни Рускеала, новую кирху, проект которой выполнил известный архитектор Карл Энгель. Эта церковь не сохранилась до наших дней, но теперь рядом с ней построена новая церковь с гостиницей на первом этаже.