.sub-nav {
  .container {
    padding: 0;
  }
  &__list {
    display: flex;
  }
  &__item {
    width: auto;
  }
  &__icon {
    fill: transparent;
    stroke: $black;
    transition: all ease-out 0.15s;
    &--ecscur { stroke-width: 2px; }
  }
  &__link {
    color: $black;
    cursor: pointer;
    border: 1px solid $black;
    border-radius: 5px;
    display: inline-block;
    font-weight: 800;
    padding: 6px 12px;
    text-decoration: none;
    transition: all ease-out 0.15s;
    &:hover {
      color: $orange-dark-color;
      border-color: $orange-dark-color;
      svg {
        stroke: $orange-dark-color;
      }
    }
  }
  &__label {
    padding-left: 15px;
    vertical-align: middle;
  }
}