mixin breadcrumbs-item(text,href,link)
	li.breadcrumbs__item
		if(link)
			a.breadcrumbs__link.breadcrumbs__link--black(href=href)=text
		else if(href)
			a.breadcrumbs__link(href=href)=text
		else
			span.breadcrumbs__text=text
if pageClass === "tours-page"
	.container
		ul.breadcrumbs
			+breadcrumbs-item('Посетителям','#')
			+breadcrumbs-item('Туры')
if pageClass === "news-page"
	.container
		ul.breadcrumbs
			+breadcrumbs-item('Главная','/')
			+breadcrumbs-item('Новости')
if pageClass === "post-page"
	.container
		ul.breadcrumbs
			+breadcrumbs-item('Главная','/')
			+breadcrumbs-item('Новости', 'news.html', true)
			+breadcrumbs-item(title)