mixin breadcrumbs-item(text,href)
	li.breadcrumbs__item
		if(href)
			a.breadcrumbs__link(href=href)=text
		else
			span.breadcrumbs__text=text
if pageClass === "tours-page"
	.container
		ul.breadcrumbs
			+breadcrumbs-item('Посетителям','#')
			+breadcrumbs-item('Туры')
if pageClass === "news-page"
	.container
		ul.breadcrumbs
			+breadcrumbs-item('Главная','/')
			+breadcrumbs-item('Новости')