.excursions-ticket__time.select-time
	.select-time__header
		span.select-time__current 9:00
		+icon('icon-menu-arrow', 'select-time__icon select-time__icon--arrow', '10', '7')
	.select-time__body
		.select-time__item 9:00
		.select-time__item 10:00
		.select-time__item 11:00
		.select-time__item 12:00
		.select-time__item 13:00
		.select-time__item 14:00
		.select-time__item 15:00
		.select-time__item 16:00
		.select-time__item 17:00
		.select-time__item 18:00
		.select-time__item 19:00
		.select-time__item 20:00