nav.nav#js-nav-menu
    .nav__phone
        +icon('icon-header-phone', 'nav__icon--phone', '24', '24')
        a.nav__phone-link(href="tel:+79214614012") +7 (921) 461-40-13
    ul.nav__social.social-nav
        include ./nav-social
    ul.nav__menu.menu-nav
        include ./nav-menu
