.contacts-partners {
  @include adaptiv-value(margin-bottom, 70, 40, 3);
  &__list {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  &__item {
    margin-right: 20px;
    &:not(:last-child) {
      margin-bottom: 20px;
      @media screen and (min-width: 768px) {
        margin-bottom: 30px;
      }
      @media screen and (min-width: $desktop-size) {
        margin-bottom: 50px;
      }
    }
    @media screen and (min-width: 768px) {
      margin-right: 0;
      width: 45%;
    }
    @media screen and (min-width: $desktop-size) {
      width: 30%;
    }
  }
  &__title {
    font-weight: 600;
    margin-bottom: 5px;
    @include adaptiv-font(28, 18, 3);
    @media screen and (min-width: $desktop-size) {
      margin-bottom: 15px;
    }
  }
  &__link {
    color: $orange-dark-color;
    display: block;
    font-weight: 500;
    @include adaptiv-font(26, 16, 3);
    &:hover {
      opacity: 0.6;
    }
  }
}