.office-partners {
  &__description {
    margin-bottom: 30px;
    padding: 0 20px;
    @include adaptiv-font(22, 14, 3);
  }
  &__map {
    height: 400px;
    margin-bottom: 30px;
    width: 100%;
  }
  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    padding: 0 20px;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__title {
    font-weight: 700;
    margin-bottom: 5px;
    @include adaptiv-font(26, 16, 3);
  }
  &__text {
    @include adaptiv-font(22, 14, 3);
  }
}