.partners {
  &__title {
    @include adaptiv-font(63, 26, 3);
    font-weight: 900;
    line-height: 1.3;
    margin-bottom: 20px;
    text-align: center;
  }
  &__sub-title {
    font-size: 18px;
    @include adaptiv-font(40, 30, 3);
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 20px;
    // text-align: center;
    &--tabs {
      padding: 0 20px;
    }
  }
  &__attention {
    font-style: italic;
    line-height: 1.4;
    margin-bottom: 10px;
    @include adaptiv-font(18, 14, 3);
  }
  &__note {
    line-height: 1.4;
    margin-bottom: 40px;
    @include adaptiv-font(18, 14, 3);
  }
}

.company-partners {
  margin-bottom: 20px;
  &__name {
    @include adaptiv-font(18, 14, 3);
    line-height: 1.5;
    margin-bottom: 5px;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__item &__services {
    display: block;
    position: relative;
    @include adaptiv-font(18, 14, 3);
    @include adaptiv-value(padding-left, 40, 20, 3);
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

@import "files";
@import "tabs";
@import "office";
@import "contacts";

